#products-page
	.cover-image(ng-class="{'active':category.products.length}") 
		img(ng-if="!category.headerImage", src="/content/images_api/products/front.jpg")
		img(ng-if="category.headerImage", ng-src="{{category.headerImage}}")
		.cover-title.vertical-align
			h1 {{category.name}}
			h2 {{category.meta_description}}
	.products-list.row(ng-class="{'active':category.products.length}") 
		product-item.col-xs-6.col-md-3(colors="colors",ng-repeat="product in category.products",product="product")
	.loader-container(adapt-to-window, ng-class="{'active':!category.products.length, 'inactive':category.products.length}")
		img.loader(src="/content/images/spinner_pedaled.gif")
		//- .loader
			i.icon-spin4.animate-spin
