#products-page.landing-page
    .cover-image(ng-class="{'active':products.length}") 
        img(ng-if="!page.image", src="/content/images/products/front_landing.jpg")
        img(ng-if="page.image", ng-src="{{page.image}}")
        .cover-title.vertical-align
            h1 {{title}}
    .products-list.row(ng-class="{'active':products.length}") 
        product-item.col-xs-6.col-md-3(ng-repeat="product in products track by product.longSku",product="product", force-gallery-color="product.forceGalleryColor")
    .loader-container(adapt-to-window, ng-class="{'active':!products.length, 'inactive':products.length}")
        img.loader(src="/content/images/spinner_pedaled.gif")


