#products-page
	.spinner
	.products-list.row(ng-class="{'active':categories.length}")
		.category(ng-if="(category.products | filter:commonData.productsFilters).length", ng-repeat="category in categories")
			category-item.col-xs-6.col-md-3(ng-show="!commonData.productsSearchText", ng-click="selectCategory(category)",category="category")
			product-item.col-xs-6.col-md-3(ng-repeat="product in category.products | filter:commonData.productsFilters | productText: commonData.productsSearchText", product="product")
	.no-results.container(ng-show="(categories.length)")
		.no-results(adapt-to-window, ng-show="!(products | filter:commonData.productsFilters | productText: commonData.productsSearchText).length")
			.no-results-content
				span no results
				button.btn.btn.default(ng-click="resetFilters()") Clear Filters
	.loader-container(adapt-to-window, ng-class="{'active':!categories.length, 'inactive':categories.length}")
		img.loader(src="/content/images/spinner_pedaled.gif")
