#product-page(ng-class="{'active':!loading, 'inactive':loading}")
	.product-content.row
		.active-images.col-md-fraction-2-3
			.first-image.col-md-12
				img(ng-if="!loading", ng-src="{{activeImage.url}}")
				img.loader(src="/content/images/spinner_pedaled.gif")

		//- Carousel mobile version
		.product-carousel.col-md-12(ng-if="currentModel.gallery.length && (commonData.viewPort=='XS')",multi-slider,active-image="activeImage",ratio="1",slides="currentModel.gallery",items="3", items-to-slide="1")

		//- Carousel tablet version portrait
		.product-carousel.portrait.col-md-12(ng-if="currentModel.gallery.length && commonData.viewPort=='MD'",multi-slider,active-image="activeImage",ratio="1",slides="currentModel.gallery",items="6", items-to-slide="1")

		.product-detail.col-md-4
			.product-header
				h1 {{product.name}} 
				.price
					span(ng-bind-html="currentModel.price")
					span(ng-bind-html="cartService.defaultCurrency.symbol")
			.product-actions
				div.product-buttons.visible
					.color-palette.row
						.color.col-xs-2(ng-click="changeColor(color)", ng-repeat="color in product.colors", ng-class="{'active':currentModel.colorsAvailableIndex[color.id],'selected':currentModel.color.id==color.id}")
							div(ng-attr-style="background-color:{{color.label}}")
					.sizes-list-container
						.sizes-list.row
							.size.col-xs-2(ng-click="changeSize(size)", ng-repeat="size in product.sizes", ng-class="{'active':currentModel.sizesAvailableIndex[size.id], 'selected':currentModel.size.id==size.id}")
								div
									span {{size.admin_label}}
					.quantity-selector
						input.quantity-action(ng-disabled="productOptions.quantity<=0", type="submit", value="-", ng-click="productOptions.quantity=productOptions.quantity-1")
						input(type="number",ng-model="productOptions.quantity", min="0", max="product.quantity") 
						input.quantity-action(ng-disabled="productOptions.quantity>=currentModel.quantity", type="submit",value="+", ng-click="productOptions.quantity=productOptions.quantity+1")
					.add-to-cart.row
						.in-stock(ng-show="currentModel.quantity>0 && currentModel.inStock")
							button.btn(ng-show="addingToCart", disabled, ng-click="addToCart()") Adding to Cart...
							button.btn(ng-show="!addingToCart", ng-click="addToCart()") Add to Cart
						.out-of-stock(ng-show="!currentModel.quantity || !currentModel.inStock")
							button.btn(disabled, ng-show="!addingToCart") Out of Stock
					.comment(ng-bind-html="product.custom_message")
				ul.product-features
					li(ng-repeat="feature in product.features") - {{feature}}
			#productdescription.product-description 
				.description-title why we designed it
				span(ng-bind-html="product.description")
				i.icon-spin4.animate-spin


		//- Carousel tablet version landscape
		.product-carousel.landscape.col-md-12(ng-if="currentModel.gallery.length && commonData.viewPort=='MD'",multi-slider,active-image="activeImage",ratio="1",slides="currentModel.gallery",items="6", items-to-slide="1")

		.description-tablet-landscape.product-detail.row
			.product-additional.col-md-4
				.product-additional-content
					//- .row.product-icons
						i(ng-repeat="type in commonData.types" class="type {{type.icon}}")
					.row.product-materials
						li(ng-repeat="material in product.materials") {{material}}
					.row(ng-show="product.sizeChart")
						//- button product care
						button(ng-click="sizechartActive=true") size chart
			ul.product-features.col-md-4
				li(ng-repeat="feature in product.features") - {{feature}}
			.product-description.col-md-4
				.description-title why we designed it
				span(ng-bind-html="product.description")
				i.icon-spin4.animate-spin

	//- Carousel tablet landscape version
	.product-carousel.col-md-12(ng-if="currentModel.gallery.length && commonData.viewPort=='MDLG'",multi-slider,active-image="activeImage",ratio="1",slides="currentModel.gallery",items="6", items-to-slide="1")

	//- Carousel desktop version
	.product-carousel.col-md-8(ng-if="currentModel.gallery.length && commonData.viewPort=='LG'",multi-slider,active-image="activeImage",ratio="1",slides="currentModel.gallery",items="6", items-to-slide="1")

	.product-additional.col-md-4
		.product-additional-content.product-materials-div
			//- .row.product-icons
				i(ng-repeat="type in commonData.types" class="type {{type.icon}}")
			.row.product-materials
				li(ng-repeat="material in product.materials") {{material}}
			.row(ng-show="product.sizeChart && product.sizeChart != 'no_selection'")
				//- button product care
				button(ng-click="sizechartActive=true") size chart
		
	.row
	.other-items
		.other-items-bar.row
			.col-xs-6(ng-class="{'active':currentRelatedField=='similar'}", ng-click="currentRelatedField=\'similar\'") COMPLETE THE LOOK WITH...
			.col-xs-6(ng-class="{'active':currentRelatedField=='upsell'}", ng-click="currentRelatedField=\'upsell\'") SIMILAR ITEMS...
		.products-list.row.active(ang-class="{'active':product[currentRelatedField].length}", ng-show="product.similar.length") 
			product-item.col-xs-6.col-md-3(ng-repeat="product in product[currentRelatedField]",product="product",colors="colors")
		.row
	.sizechart-gallery(genericgallery, items="product.sizeCharts", active="sizechartActive", active-index="sizechartIndex")