// COLOR
	// $bg-yellow: #e0dbcb;
	$bg-yellow: #e5e1d6;
	$main-red: #97191f;
	$product-black: #0a0a0a;
	$upper-black-bar: #202020;

// FONTS
	// $font-headers: FFDIN;
	$font-headers: "Roboto Condensed";
	$font-captions: ArvoRegular;

// DIMENSIONS
	$header-height: 110px;
	$submenu-height: 400px;

	// HOME
		$box-padding: 16px;

// ANIMATIONS
	$animation-time: 0.4s;

//MEDIA VIEWPORTS
	$lg-breakpoint-min: 1025px;
	$lg-breakpoint-max: 1024px;