// bower:scss
// endbower

@import 'vars';

#about-page{
	.page{
		overflow:hidden;
		.page-content{
			height: 100%;
			background-size: cover;
			position: relative;

			.text,.title{
				height: 100%;
			}

			.title{
				span{
					position: absolute;
					top: 50%;
					color: white;
					left: 50%;
					transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					font-size: 26px;
					max-width: 350px;
					text-align: center;
					// color: black;
					font-family: $font-captions;
				}
			}

			.column{
				height: 100%;
				padding: 30px;
				position: relative;
				span{
					position: absolute;
					top: 100px;
					text-align: left;
					font-size: 15px;
					font-family: $font-captions;
					max-width: 270px;
				}
			}
			.text{
				position: relative;
				height: 100%;
				span{
					text-align: center;
					top: 50%;
					position: absolute;
					left: 50%;
					transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					font-family: $font-captions;
					font-size: 15px;
					color: white;
				}
			}

			.arrow-down{
				position: absolute;
				left: 50%;
				bottom: 20px;
				width: 60px;
				transform: translate(-50%,0);
				-webkit-transform: translate(-50%,0);
				-moz-transform: translate(-50%,0);
				-o-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
			}
		}
		.first-page{
			.text{

			}
		}
	}
	.first-page.page{
		.page-content .text span{
			color: white;
		}
	}
	.fourth-page.page{
		.page-content .text span{
			color: black;
		}
	}
	.third-page.page,.fourth-page.page{
		.page-content .text span{
			text-align: left;
		}
		.page-content .title span{
			color: white;
		}
	}
}

@media (max-width: 767px){
	#about-page .page .page-content {
		padding: 20px 0px;
	}
	#about-page .page .page-content .column{
		height: auto;
		display: block;
		padding: 0px;
		margin-top: 20px;
		padding: 0px 20px;
		color: white;
		color: #ddd;
	}
	#about-page .page .page-content .column span{
		position: static;	
		font-size: 13px;
	}
	#about-page .third-page.page .page-content .text span, #about-page .fourth-page.page .page-content .text span{
		width: 100%;
		position: static;
	}
	#about-page .page.third-page{
		height: auto !important;
		span{
			color: #ddd;
		}
		.title span{
			position: static;
			text-align: center;
			width: 100%;
			max-width: inherit;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			-ms-transform: none;
			left: auto;
			top: auto;
			display: block;
			margin-top: 10px;
		}
	}
	#about-page .page.fourth-page{
		height: auto;
		.page-content{
			.text span{
				width: 100%;
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				color: #ddd;
				margin-top: 20px;
				width: 100%;
				position: static;
				transform: none;
				color: #ddd;
			}
			.title span{
				width: 100%;
				width: 100%;
				position: static;
				display: block;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
			}
		}
	}

}