// bower:scss
// endbower

@import 'vars';

#account-page{
	padding-top: 40px;
	overflow: hidden;
	.row{
		margin-left: -1px;
	}
	.account-row {
		opacity: 0;
		transition-property: opacity;
    	transition-duration: 1s;
    	transition-timing-function: initial;
    	transition-delay: initial;
    	&.active{
			opacity: 1;
		}
	}
	form{
		max-width: 570px;
		margin: auto;
	}

	.loader-account {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 150px;
    	height: 150px;
    	margin-top: 20%;
	}

	.content{
		display: flex;
		flex-wrap: wrap;
	}
	.black-bar{
		position: relative;
		button{
			right: 150px;
			position: absolute;
			background: #990000;
			border-radius: 0px;
			top: 50%;
			transform: translate(0,-50%);
			-webkit-transform: translate(0,-50%);
			-moz-transform: translate(0,-50%);
			-o-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			padding-left: 30px;
			padding-right: 30px;
			text-transform: uppercase;
		}
	}
	table{
		thead{
			font-size: 15px;
			th{
				border-bottom: 1px solid white;
				text-align: center;
			}
		}
		tbody{
			td{
				text-align: center;
				font-size: 13px;
				color: #ddd;
				border-top: 0px;
			}
		}
	}
	.orders{
		background: black;
		color: white;
	}
	.box{
		width: 49.9%;
		.title{
			position: static;
			left: 0px;
			margin: auto;
			width: 100%;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			-ms-transform: none;
		}
		padding-top: 30px;
		padding-bottom: 30px;
		.subtitle{
			display: block;
			margin: 40px auto;
		}
	}
	form{
		background: transparent;
		padding-top: 30px;
		margin-bottom: 10px;
		.required{
			margin-bottom: 8px;
		}
		input{
			border-radius: 0px;
		}
		.gender{
			input{
				margin-right: 5px;
				margin-left: 10px;
			}
		}
		.form-group{
			.title{
				text-align: center;
				font-size: 18px;
				margin-bottom: 10px;
				margin-left: 25%;
			}
			&.subscribe{
				.title{
					margin-left: auto;
				}
			}
			.row-subscribe{
				text-align: center;
			}
		}

		.subscribe{
			.title{
				text-align: center;
				font-size: 18px;
				margin-bottom: 10px;
			}
			span{
				display: inline-block;
				margin-left: 0px;
				max-width: 230px;
			}
		}

		.save-account {
			margin-left:10%;
			font-size:15px;
			padding: 15px 27px;
			color: #fff;
		}

		.form-save-account{
			position: relative;
			padding-top: 45px;
			&.account{
				margin-left:10%;
				font-size:15px;
				padding: 15px 27px;
			}
		}

		.loading-shipping {
			position: absolute;
    		top: 66px;
		}

		.hr-address{
			width: 100%;
		}

		.title{
			width: 75%;
			margin: auto;
			text-align: center;
			// position: absolute;
			// top: 30px;
			font-family: $font-headers;
			text-transform: uppercase;
			left: 50%;
			// transform: translate(-50%,0);
			font-size: 25px;
		}
		.validation-error-account{
			position: absolute;
    		bottom: -40px;
    		left: 10px;
		}

		.validation-error-shipping{
		    position: absolute;
    		bottom: -14px;
    		min-width: 100%;
    		left: 0px;
    	margin-left: 0px;
		}
	}
	.helpdesk{
		background: #999;
		.subtitle{
			text-transform: uppercase;
			color: white;
		}
		hr{
			border-color: black;
		}
		.new-ticket{
			text-transform: uppercase;
		}
		.required{
			font-size: 14px;
		}
		.file-upload{
			margin-top: 40px;
			.col-xs-9{
				padding-left: 0px;
				text-align: left;
			}
			button{
				color: white;
			}
			span{
				margin-left: 15px;
				font-size: 15px;
			}
		}
		.submit{
			button{
				width: 100%;
				color: white;
				margin-top: 20px;
				padding-top: 15px;
				padding-bottom: 15px;
				margin-bottom: 20px;
				font-size: 18px;
			}
			hr{
				width: 100%;
			}
		}
	}
	.address-book{
		background: white;
		.subtitle{
			background-color: #999;
			padding-top: 15px;
			padding-bottom: 15px;
			text-transform: uppercase;
			color: white;
			margin: 30px auto;
		}
		li{
			list-style-type: none;
			line-height: 22px;
		}
		button{
			border-radius: 0px;
			padding: 15px 27px;
			background: #990000;
			color: white;
			text-transform: uppercase;
			font-size: 13px;
			margin: 10px;
			&.btn-success{
				background: #656725;
				width: 100%;
				margin-top: 30px;
				font-size: 16px;
			}
		}
		hr{
			border-top: 1px solid black;
		}
		.additional{
			margin-top: 30px;
		}
	}
}

@media (max-width: 767px){
	#account-page{
		padding-top: 0px;

		.black-bar{
			button{
				right: 15px;
			}
			span.title{
				left: 15px;
				position: absolute;
			}
		}
		.box{
			width: 100%;
		}
		.box.orders{
			padding-left: 0px;
			padding-right: 0px;

			table{
				th,td{
					font-size: 13px;
				}
			}
		}
		form{
			label{
				font-size: 14px;
				padding: 0px;
				padding-right: 5px;
			}
			.subscribe{
				input{
					float: left;
				}
				span{
					width: 135px;
				}
			}
			.col-xs-8{
				width: 66.66667%;
			}
			.no-file{
				display: block;
			}

		}
		.helpdesk{
			padding-left: 0px;
			padding-right: 10px;
			padding-bottom: 0px;
			.submit{
				padding: 10px;
			}
		}
		.address-book{
			button{
				width: 100%;
			}
		}
	}
}