// bower:scss
// endbower

@import 'vars';

.alert{
	position: fixed;
	text-align: center;
	border-radius: 0px;
	font-size: 15px;
	padding: 0px;
	border: none;
	width: 500px;
	top: 47px;
	right: 6px;
	left: auto;
	bottom: auto;
	background-color: $upper-black-bar;
	color: white;
	z-index: -10;
	height: 100px;
	opacity: 0;
	transition: opacity $animation-time;
	padding: 15px;
	font-family: $font-headers;
	&.active{
		opacity: 1;
		z-index: 9999;
	}
	.image{
		width: 70px;
		height: 70px;
		background-size: cover;
		float: left;
	}
	.product-description{
		width: 300px;
		float: left;
		span{
			display: block;
			line-height: inherit;
			margin-left: 80px;
			text-align: left;
			font-size: 14px;
		}
		.price{
			margin-top: 11px;
			text-align: left;
			width: auto;
			margin-left: 79px;
			span{
				display: inline-block;
				margin-left: 0px;
				margin-right: 5px;
			}
		}
		span.desc{
			font-size: 13px;
			opacity: 0.9;
		}
	}
	.cart-action{
		float: left;
		width: 160px;
		text-align: right;
		padding-top: 12px;
		.subtotal{
			text-transform: uppercase;
			font-size: 15px;
			font-size: 14px;
			text-align: left;
			> span{
				display: inline-block;
				line-height: inherit;
				font-size: 100%;
			}
			.label{
				opacity: 0.9;
			}
			.value{
				width: 50px;
				display: inline-block;
				span{
					margin-left: 5px;
					line-height: 0px;
				}
			}
		}
		a{
			display: block;
			margin-right: 0px;
			text-align: right;
			padding: 3px;
			background-color: $main-red;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			font-size: 13px;
			line-height: 25px;
			padding-bottom: 0px;
		}
	}
	span{
		line-height: 43px;
	}

}

@media (max-width: 767px){
	.alert{
		width: 100%;
		height: auto;
		left: 0px;
		.product-description{
			margin-bottom: 25px;
		}
		.cart-action{
			width: 100%;
			text-align: center;
			.subtotal{
				text-align: center;
			}
		}
	}
}