// bower:scss
// endbower

@import 'vars';

.breadcrumb{
	border-radius: 0px;
	// position: absolute;
	z-index: 100;
	// top: 150px;
	width: 100%;
	padding-bottom: 0px;
	padding-top: 0px;
	background: #d8d4c9;
	padding-left: 28px;
	font-family: $font-headers;
	background: rgba($bg-yellow,0.6);
	.breadcrumb-separator{
		margin-right: 10px;
	}
	.breadcrumb-item{
		display: inline-block;
		margin-right: 10px;	
		a{
			color: black;
			color: #444;
		}
	}
}