// bower:scss
// endbower
@import 'vars';

body.checkout{
    background-color: white;
}

#checkout-page {
    font-family: $font-headers;

    .cell {
        display: inline-block;
        // border-right: 1px solid #eee;
        vertical-align: middle;
        position: relative;
        background-size: cover;
        width: 150px;
        height: 149px;
        padding: 10px;
        text-align: center;
    }
    .cell-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100%;
        padding: 15px;

    }
    #checkout-menu {
        $checkout-menu-height: 40px;
        // background: rgba($bg-yellow, 0.8);
        background: white;
        height: $checkout-menu-height;
        margin-top: 39px;
        position: relative;
        border-top: 1px solid #888;
        border-bottom: 1px solid #202020;
        #checkout-menu-content {
            position: absolute;
            left: 50%;
            top: 0px;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            li {
                list-style-type: none;
                display: inline-block;
                width: 100px;
                height: 38px;
                line-height: $checkout-menu-height;
                text-align: center;
                font-family: $font-headers;
                font-weight: 700;
                border-right: 1px solid #D0CDC3;
                margin-left: -4px;
                &.active {
                    background-color: #202020;
                    color: white;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

#cart-page {
    min-height: 500px;
    padding-bottom: 50px;
    font-family: "Roboto Condensed";
    background: white;
    position: relative;

    .empty-cart{
        .empty-cart-container{
            max-width: 1000px;
            margin: auto;
            text-align: center;
            padding-top: 100px;
            display: block;
        }
    }

    .table-title {
        color: white;
        padding: 20px;
        font-size: 21px;
        text-align: center;
        background-color: #202020;
    }
    .icon-trash {
        width: 100%;
        margin-top: 10px;
        display: block;
        &:hover{
            cursor: pointer;
        }
    }
    .price.cell,.subtotal.cell{
        span{
            display: inline-block;
            margin-left: 5px;
        }
    }
    .cell {
        float: left;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-size: cover;
        width: 14.28%;
        height: 149px;
        padding: 10px;
        text-align: center;
        .cell-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            width: 100%;
            padding: 15px;
        }
        .cell-content.color{
            width: 20px;
            height: 20px;
            border: 1px solid black;
        }
    }
    .products-list {
        margin: auto;
        margin-top: 40px;
        max-width: 1000px;
        background-color: white;
        font-family: "Roboto Condensed";
        padding-top: 40px;
        .product {
            height: 150px;
            margin-bottom: 0px;
            border: solid 1px #dddddd;
            border-top: none;
            .photo {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .separator{
                display: none;
            }
            .quantity-mobile{
                display: none;
            }
            .name {}
            .size {}
            .color {}
            .price {}
            .quantity {
                .quantity-picker {
                    width: 100%;
                    .quantity-action {
                        background-color: white;
                        border: 2px solid black;
                        width: 26px;
                        height: 26px;
                    }
                    .number {
                        width: 26px;
                        margin-left: 5px;
                        margin-right: 5px;
                        text-align: center;
                        border: 2px solid black;
                        height: 26px;
                    }
                    .icon-trash {
                        width: 100%;
                        margin-top: 10px;

                    }
                }
            }
            .subtotal {}
        }
    }

    .coupon{
        height: 60px;
        margin: auto;
        max-width: 1000px;
        background-color: white;
        border: solid 1px #dddddd;
        border-top: none;
        font-family: "Roboto Condensed";
        .text {
            float: left;
            width: 57%;
            padding: 20px;
            text-align: right;
            line-height: 26px;
        }
        input {
            float: left;
            margin-top: 17px;
            width: 28%;
            text-align: center;
            padding: 4px;
            border: 1px solid #777;
            padding: 5px;
            padding-bottom: 5px;
        }
        button {
            float: left;
            width: 10%;
            margin-left: 4%;
            margin-top: 17px;
            background-color: black;
            color: white;
            border: none;
            padding: 6px;
        }
    }
    .total-recap{
        max-width: 1000px;
        margin: auto;
        padding: 40px;
        padding-top: 10px;
        padding-right: 30px;
        padding-bottom: 10px;
        border: solid 1px #dddddd;
        border-top: none;
        .text{
            float: left;
            line-height: 55px;
            margin-left: 47px;
        }
        .subtotals{
            float: right;
            text-align: right;

            .subtotal{
                margin-bottom: 10px;
            }

            .value{
                display: inline-block;
                width: 120px;
            }
        }
    }
    .pull-right {
        border-left: 1px solid #eee;
    }
    .cells-description {
        float: left;
        width: 100%;
        background-color: #ddd;
        .title-list {
            margin: auto;
            max-width: 1000px;
            .cell {
                height: 40px;
            }
        }
    }
    .cart-table {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        background-color: white;

        .loader-container{
            height: 150px;
            opacity: 0;
            // transition: opacity 1s;
            &.inactive{
                height: 0px !important;
            }
            &.active{
                opacity: 1;
            }
            .loader{
                max-width: 1000px;
                display: block;
                float: none;
                margin: auto;
                height: 100%;
                border: 1px solid #ddd;
                border-top: none;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 18px;
                    color: #777;
                    margin-left: -12px;
                    margin-top: -12px;
                }
            }
        }
    }
    .actions{
        padding: 25px;
        max-width: 1000px;
        margin: auto;
        padding-bottom: 170px;
        &.empty-cart{
            .button{
                // width: 100%;
                margin-left: 25%;
            }
        }
        .button {
            float: left;
            width: 10%;
            margin-left: 4%;
            margin-top: 17px;
            background-color: black;
            color: white;
            border: none;
            padding: 6px;
            float: left;
            width: 50%;
            text-transform: uppercase;
            font-size: 20px;
            margin: 0px;
            padding: 0px 10px;
            background-color: transparent;
            button{
                width: 100%;
                margin-top: 10px;
                border-radius: 0px;
                height: 40px;
                background-color: $main-red;
                &:hover{
                    color: white;
                }
                border: none;
                text-transform: uppercase;
            }
        }

    }
    .total-table {
        padding: 0;
        .total-table-content {
            border: solid 1px #dddddd;
            border-top: none;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #202020;
            padding: 20px;
            background-color: white;
            background-color: #eee;
            color: black;
            max-width: 1000px;
            margin: auto;
            text-align: right;
            button {
                width: 100%;
                background-color: $main-red;
                border: none;
                height: 40px;
                color: white;
            }
            .total-price {
                padding-left: 0px;
                .label,
                .value {
                    font-size: 26px;
                    text-transform: uppercase;
                    padding-left: 0px;
                    font-weight: 300;
                    color: black;
                    margin-left: 5px;
                    &.value {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}


#signin-page-container{
    background-color: white;
    position: relative;
}
#signin-page {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    font-family: "Roboto Condensed";
    min-height: 600px;
    border: 1px solid #ddd;
    border-top: none;
    button.btn{
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        text-transform: none;
    }
    .login-error{
        text-align: center;
        width: 100%;
        color: $main-red;
        font-weight: normal;
        font-size: 14px;
    }
    .logged-in{
        span{
            font-size: 15px;
            display: block;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        button{
            background-color: $main-red;
            color: white;
        }
    }
    #guest-register {
        padding: 20px 50px;
        h3 {
            margin-bottom: 30px;
        }
        fieldset {
            height: 40px;
            input {
                float: left;
            }
            label {
                float: left;
                margin-left: 10px;
            }
        }
        button {
            margin-top: 10px;
            margin-left: 15px;
            margin-left: 0px;
            float: left;
            color: white;
            background-color: #97191f;
            padding: 8px;
        }
    }
    #login-box {
        padding: 20px 50px;
        form {
            input{
                width: 100%;
                padding: 9px;
                padding-bottom: 5px;
                margin-bottom: 9px;
            }
            padding-top: 30px;
            fieldset {
                height: 40px;
                input {
                    float: left;
                    margin-left: 10px;
                }
                label {
                    float: left;
                    text-align: left;
                    line-height: 26px;
                    width: 70px;
                }
            }
            button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                // border-radius: 4px;
                margin-top: 0px;
                margin-left: 15px;
                margin-left: 0px;
                float: left;
                color: white;
                background-color: #97191f;
                padding: 8px;
            }
        }
    }
}

#billing-page {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    font-family: "Roboto Condensed";
    border: 1px solid #ddd;
    border-top: none;
    position: relative;
    button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-top: 20px;
        float: left;
        color: white;
        background-color: #97191f;
        margin-left: 55%;
        display: block;
          float: none;
          margin-bottom: 10px;
        margin: auto;
        width: calc(100% - 30px);
        border-radius: 0px;
        margin-top: 20px;
        padding: 8px;
        text-transform: none;
        &.btn{
            background-color: $main-red;
        }
    }
    button.proceed{
        margin-right: 0px;
    }
    .billingForm {
        padding: 20px 50px;
        padding-left: 0px;
        h3 {
            text-align: center;
        }
        form {
            padding-top: 20px;
            fieldset {
                height: 40px;
                input {
                    float: left;
                    width: 45%;
                    margin-left: 10%
                }
                input#use-billing{
                    text-align: left;
                    width: 14px;
                }
                input#newsletter-subscribe{
                    text-align: left;
                    width: 14px;
                }
                select {
                    float: left;
                    width: 45%;
                    margin-left: 10%
                }
                label {
                    float: left;
                    text-align: right;
                    line-height: 26px;
                    width: 45%;
                }
            }

            fieldset.required{
                height: 50px;
                label{
                    margin-bottom: 0px;
                }
                label.required{
                    font-size: 12px;
                    font-weight: normal;
                    text-align: left;
                    margin-left: 0px;
                    float: left;
                    clear: both;
                    text-align: right;
                    line-height: 11px;
                }
            }

            .validation-error{
                text-align: center;
                display: block;
                color: $main-red;
                margin-left: 30px;
                margin-top: 10px;
            }
        }
    }
    .default-billing {
        padding: 20px 50px;
        h3 {
            text-align: center;
            padding-bottom: 20px;
        }
        li{
            list-style-type: none;
            margin-left: 18px;
            margin-top: 7px;
            font-size: 15px;
            &.name{
                font-weight: bold;
            }
        }
    }
}

#payment-page {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    font-family: "Roboto Condensed";
    .billingForm {
        padding: 20px 50px;
        h3 {
            text-align: center;
        }
        form {
            padding-top: 20px;
            fieldset {
                height: 40px;
                input {
                    float: left;
                    width: 45%;
                    margin-left: 10%
                }
                .half {
                    width: 20%;
                }
                .half:last-child {
                    margin-left: 5%;
                }
                select {
                    float: left;
                    width: 45%;
                    margin-left: 10%
                }
                .full_width {
                    width: 100%;
                    margin-left: 0;
                }
                label {
                    float: left;
                    text-align: right;
                    line-height: 26px;
                    width: 45%;
                }
            }
            button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-top: 20px;
                float: left;
                color: white;
                background-color: #97191f;
                margin-left: 55%;
                float: none;
                  margin-bottom: 20px;
            }
            .validation-error{
                float: none;
                margin-bottom: 20px;
            }
        }
    }
}

#checkout-complete-page{
	height: 178px;
	margin-top: 50px;
	padding: 50px;
	text-align: center;
    font-family: $font-captions;
    h1{
        margin-bottom: 50px;
    }
    img{
        width: 130px;
        margin-top: 50px;
    }
	span{
		display: block;
        font-size: 15px;
        margin-top: 10px;
		&.strong{
			font-size: 26px;
		}
	}
}

#cart-page.review{
    position: relative;
    a{
        color: $main-red;
    }
    .loader-container{
        height: 70px;
    }
    .cells-description{
        z-index: 9999;
        .cell{
            width: 16.666667%;
        }
    }
    .products-list{
        margin-top: 0px;
        padding-top: 0px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        transition: none;
        padding-top: 40px;
        .product{
            border-top: none;
            height: 70px;
            border-left: none;
            border-right: none;
        }
        .photo.cell{
            display: none;
        }
        .cell{
            width: 16.666667%;
            height: 100%;
        }
    }
    .info-review{
        max-width: 1000px;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        border: 1px solid #ddd;
    }
    .billing-info{
        // padding-left: 150px;
        text-align: left;
        li{
            list-style-type: none;
            font-size: 16px;
        }
    }
    .credit-card{
        > *{
            text-align: left;
        }
    }
    .total-table{
        .value{
            width: 120px;
            display: inline-block;
        }
        .label{
            color: black;
            text-transform: uppercase;
            font-size: 14px;
        }
        .total-grandtotal{
            margin-top: 10px;
            span{
                display: inline-block;
                margin-left: 5px;
            }
            .label,.value{
                font-size: 25px;
                font-weight: bold;
                &.label{
                    font-weight: normal;
                }
            }

        }
    }

    .place-order{
        max-width: 800px;
        margin: auto;
        margin-top: 30px;
        button{
            width: 100%;
            border-radius: 0px;
            font-size: 20px;
            text-transform: uppercase;
            background-color: $main-red;
            color: white;
            max-width: 500px;
        }
        .validation-error{
            margin-top: 10px;
            display: block;
        }
    }

    .billingForm{
        margin-top: 20px;
        max-width: 1000px;
        margin: auto;
        text-align: left;
        max-width: 1000px;
        margin: auto;
        text-align: left;
        padding-left: 60px;
        padding-top: 40px;
        padding-left: 0px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        position: static;
        padding-left: 30px;
        // margin-left: 240px;

        .paypal-button{
            height: 40px;
            display: block;
            &:hover{
                cursor: pointer;
            }
            img{
                height: 100%;
                display: block;
            }
        }
        img.credit-card{
            height: 40px;
        }
        .or-separator{
            width: 144px;
            margin-left: 10px;
            text-align: center;
            padding: 3px;
            margin-top: 6px;
            margin-bottom: 6px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

        h3{
              text-align: left;
              padding-left: 73px;
              margin-top: 0px;
              padding-left: 0px;
              width: 100%;
              margin-bottom: 15px;
        }

        form.cc-info{
            margin-right: 0px;
            margin-left: auto;


        }

        .cc-info{
            padding-top: 10px;
            width: 400px;
            margin: auto;
            text-align: left;
            margin-left: 0px;
            padding-bottom: 0px;
        }
        label{
            display: inline-block;
            width: 180px;
            text-align: left;
            margin-bottom: 0px;
            margin-top: 3px;
        }
        .single{
            width: 144px;
        }
        .expiration{
            input{
                width: 70px;
            }
        }
        .code{
            input{
                width: 143px;
                width: 40px;
                margin-right: 113px;
            }
        }
        .type{
            select{
                width: 143px;
                height: 25px;
                border: 1px solid #D4D4D4;
                background-color: white;
            }
        }
        .name{
            input{
                border: 1px solid #D4D4D4;
            }
        }
    }
    .payment-actions{
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        max-width: 800px;
        .info-review{
            padding: 0px;
            margin-top: 20px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            width: 100%;
            left: 0px;
            position: static;
        }
        > div{
            // height: 300px;
        }
        button{
            width: 100%;
            border-radius: 0px;
            margin-top: 10px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background-color: $main-red;
            color: white;
            text-transform: uppercase;
            font-size: 20px;
        }
    }
    .actions{
        padding-top: 0px;
        .button{
          display: block;
            float: none;
            margin-right: 23px;
            margin-left: auto;
        }

        .button{
            text-align: left;
            padding-left: 32px;
            padding-right: 32px;
            width: 393px;
            padding: 0px;
            button{
                text-align: center;
                padding-left: 32px;
                padding-left: 0px;
                background: $main-red;
            }
        }
        .validation-error{
            font-size: 14px;
            text-transform: none;
            margin-top: 10px;
            display: block;
            color: $main-red;
            text-align: center;
        }
    }
}

#checkout-paypal-callback{
    .loading{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            width: 150px;
        }
    }
    .error{
        position: relative;
        width: 100%;
        height: 100%;
        .error-content{
            font-family: $font-captions;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            button{
                display: block;
                margin: auto;
                display: block;
                margin: auto;
                margin-top: 14px;
                padding: 8px 16px;
                background-color: #97191f;
                border-radius: 0px;
                color: white;
                text-transform: uppercase;
                border: none;
            }
        }
    }
}


@media (max-width: $lg-breakpoint-max){
    #cart-page .cart-table .products-list .product .cell.quantity{
        padding: 0px;
        .cell-content{
            padding: 0px;
        }
    }

    .billingForm-container{
        height: auto !important;
    }
    #cart-page.review .billingForm{
        padding-top: 0px;
        position: static;
        h3{
            padding-left: 0px;
            text-align: center;
        }
        form.cc-info{
            margin: auto;
        }
    }

    #cart-page.review .payment-actions .info-review{
        position: static;
    }
}

@media (max-width: 767px){
    #billing-page{
        .billingForm{
            padding-right: 10px;
            padding-left: 10px;
        }
        button{
            margin: auto;
        }
    }
    #checkout-page{
        #checkout-menu{
            margin-top: 0px;
            #checkout-menu-content{
                left: 0px;
                width: 100%;
                right: 0px;
                position: static;
                transform: none;
                -webkit-transform: none;
                -moz-transform: none;
                -o-transform: none;
                -ms-transform: none;

                li{
                    float: left;
                    margin-left: 0px;
                    width: 20%;
                    font-size: 10px;
                }
            }
        }
    }

    #cart-page{
        .cart-table{
            .cells-description{
                display: none;
            }
            .products-list{
                margin-top: 0px;
                .product{
                    border-bottom: 1px solid #ddd;
                    height: 170px;
                    .cell{
                        &.photo{
                            width: 40%;
                            height: auto;
                            padding-bottom: 40%;
                        }
                        &.name{
                            width: 60%;
                            float: none;
                            margin-left: 40%;
                            display: block;
                            text-align: left;
                            height: auto;
                            padding: 0px;
                            /* margin-top: 27px; */
                            padding-top: 42px;
                            text-align: left;
                            height: 60px;
                            padding: 0px;
                            .cell-content{
                                width: 60%;
                                float: none;
                                margin-left: 40%;
                                display: block;
                                text-align: left;
                                height: auto;
                                margin: 0px;
                                padding: 0px;
                                margin-top: 30px;
                                display: block;
                                margin-left: 0px;
                                width: 100%;
                                padding-left: 10px;
                                margin-top: 0px;
                                position: absolute;
                                bottom: 0px;
                                height: auto;
                                height: 20px;
                                display: block;
                                top: auto;
                            }
                        }
                        &.separator{
                            display: block;
                            float: left;
                            width: 60%;
                            height: 0px;
                            margin: 0px;
                            padding: 0px;
                        }
                        &.size{
                            height: auto;
                            padding: 0px;
                            height: 45px;
                            .cell-content{
                                padding-top: 7px;
                            }
                        }
                        &.color{
                            height: 33px;
                            float: left;
                            .cell-content{
                                padding: 9px;
                            }
                        }
                        &.price{
                            height: 45px;
                            width: 90px;
                            text-align: left;
                            padding-right: 0px;
                            .cell-content{
                                padding: 0px;
                                position: static;
                                transform: none;
                                -webkit-transform: none;
                                -moz-transform: none;
                                -o-transform: none;
                                -ms-transform: none;
                            }
                        }
                        &.quantity{
                            // width: 120px;
                            width: auto;
                            float: left;
                            padding: 0px;
                            height: auto;
                            width: 100px;
                            margin-top: 2px;
                            margin-left: 10px;
                            .cell-content{
                                padding: 0px;
                                float: left;
                                position: static;
                                transform: none;
                                -webkit-transform: none;
                                -moz-transform: none;
                                -o-transform: none;
                                -ms-transform: none;
                                width: 110px;
                                // width: auto;
                            }
                            .quantity-picker{
                                text-align: center;
                            }
                        }
                        &.subtotal{
                            display: none;
                        }
                    }
                }
            }
            .coupon{
                height: auto;
                padding-bottom: 10px;
                .text{
                    width: 100%;
                    text-align: center;
                    float: none;
                    display: block;
                    padding-bottom: 10px;
                }
                input{
                    display: inline-block;
                    float: none;
                    width: 50%;
                    margin: auto;
                }
                button{
                    float: none;
                    display: inline-block;
                    width: 47%;
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }
            .total-recap{
                .text{
                    width: 100%;
                    float: none;
                    margin-left: 0px;
                    line-height: inherit;
                    margin-bottom: 20px;
                }
            }
            .total-price{
                padding-right: 10px;
            }
            .actions{
                margin-top: 15px;
                padding: 0px;
                position: fixed;
                bottom: 0px;
                width: 100%;
                z-index: 10;
                .button{
                    padding: 3px;
                }
                button{
                    font-size: 18px;
                    height: 55px;
                }
            }
        }


        .actions.empty-cart{
            button{
                font-size: 18px;
                height: 55px;
            }
        }

        .payment-actions{
            > .col-md-6{
                height: auto;
            }
        }
        .info-review{
            margin-top: 10px;
            position: static;
            .info-container{
                width: 50%;
                float: left;
                h4{
                    font-size: 15px;
                }
                li{
                    font-size: 14px;
                }
            }
        }
    }

    #cart-page.review{
        .cart-table .products-list{
            .cell{
                &.photo{
                    display: block;
                }
                &.size{
                    height: 33px;
                    width: auto;
                    .cell-content{
                        padding-top: 16px;
                        position: static;
                        left: auto;
                        top: auto;
                        transform: none;
                        -webkit-transform: none;
                        -moz-transform: none;
                        -o-transform: none;
                        -ms-transform: none;
                        padding-top: 7px;
                        padding-left: 21px;
                        padding-right: 0px;
                    }
                }
                &.price{
                    padding-left: 15px;
                    padding-top: 0px;
                      font-weight: bold;
                }
                &.quantity-mobile{
                    width: 60%;
                    height: auto;
                    text-align: left;
                    padding-left: 20px;
                    padding-top: 0px;
                }
                &.quantity{
                    display: none;
                }
            }
        }
        .total-table{
            .total-grandtotal{
                .value{
                    width: 116px;
                }
                .label{
                    font-size: 19px;
                }
            }
        }
        .payment-actions {
            .info-review{
                position: static;
            }
            > div{
                height: auto;
            }
            .billingForm{
                position: static;
                padding-top: 10px;
                input{
                    width: 100%;
                    margin-bottom: 5px;
                }
                label{
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                }
                select{
                    width: 100%;
                }
                form{
                    width: 100%;
                }
                h3{
                    padding-left: 0px;
                    text-align: center;
                    font-size: 20px;
                    margin-bottom: 0px;
                }
                .place-order{
                    width: 100%;
                    padding: 0px 15px;
                }
                .expiration{
                    .year{
                        width: 68%;
                        display: inline-block;
                        margin: 0px;
                        margin-bottom: 5px;
                    }
                    .month{
                        width: 30%;
                        display: inline-block;
                        margin: 0px;
                    }
                }
            }
        }
    }

    #checkout-complete-page{
        padding-left: 10px;
        padding-right: 10px;
        span{
            font-size: 17px;
        }
        span.strong{
            margin-bottom: 15px;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;
            font-size: 25px;
        }
    }
}