// bower:scss
// endbower

@import 'vars';

#contact-page{
	padding-top: 40px;
	overflow: hidden;
	.box{
		padding: 30px 50px;
	}
	.title{
		position: static;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		margin: auto;
	}
	.contact-form{
		background: black;
		color: white;
		.required{
			font-size: 12px;
		}
		form{
			background: black;
			color: white;
			padding-top: 0px;
			select{
				border-radius: 0px;
			}
		}
	}
	.attachments{
		.col-xs-9{
			padding-left: 0px;
			text-align: left;
		}
		button{
			color: white;
			&:hover{
				color: white;
				background: rgb(153, 0, 0);
			}
			margin-right: 15px;
		}
		span{
			color: white;
			font-family: $font-captions;
			font-size: 15px;
		}
	}
	.subscribe{
		.title{
			text-transform: none;
			font-size: 20px;
		}
		span{
			font-size: 14px;
			margin-top: 10px;
		}
	}
	.old-school{
		height: 611px;
		background: white;
		.title{
			position: absolute;
			  transform: translate(-50%, 0);
			  -webkit-transform: translate(-50%, 0);
			  -moz-transform: translate(-50%, 0);
			  -o-transform: translate(-50%, 0);
			  -ms-transform: translate(-50%, 0);
		}
		.text{
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			left: 50%;
			width: 400px;
		}
	}
	.front-image{
		padding: 0px;
		img{
			width: 100%;
		}
	}
}

@media (max-width: 767px){
	#contact-page{
		padding-top: 0px;

		form{
			label{
				font-size: 14px;
				padding: 0px;
				padding-right: 5px;
			}
			.subscribe{
				input{
					float: left;
				}
				span{
					width: 135px;
				}
			}
			.no-file{
				display: block;
				margin-top: 5px;
				font-size: 13px;
			}
			.subscribe{
				input{
					float: left;
					margin-top: 15px;
				}
				span{
					width: 135px;
				}
			}

		}

		.old-school{
			padding-left: 10px;
			padding-right: 10px;
			height: auto;
			.title{
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
			}
			.text,.footer{
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				width: 100%;
				margin-top: 40px;
			}
		}

		.contact-form{
			padding-left: 0px;
			padding-right: 15px;
		}
	}
}