// bower:scss
// endbower

@import 'vars';

#faq-page{
	padding-top: 40px;
	.content{
		flex-flow: row wrap;
		display: flex;
		.box:first-child{
			margin-left: -1px;
		}
		.box{
			// padding: 150px 50px;
			text-align: center;
			font-family: $font-captions;
			font-size: 18px;
			position: relative;
			.title{
				width: 70%;
				font-family: "Roboto Condensed";
				text-transform: uppercase;
				font-size: 25px;
				position: static;
				margin: auto;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				margin-bottom: 30px;
			}
			img{
				width: 100%;
			}
			p{
				margin-bottom: 20px;
			}
		}
		.box.shipping{
			background: black;
			color: white;
		}
		.box.returns{
			background: #999;
			color: black;
		}
		.box.payment2{
			background: white;
			color: black;
		}
		.box.personal{
			background: #656725;
			color: black;
		}
	}

	.deckgrid[deckgrid]::before {
	    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
	    content: '2 .column.column-1-2';
	    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
	    visibility: hidden;
	}

	.deckgrid .column {
	    float: left;
	}

	.deckgrid .column-1-2 {
	    width: 50%;
	}
}

@media (max-width: 767px){
	#faq-page{
		padding-top: 0px;
	}
}