// bower:scss
// endbower

@import 'vars';

.filter-bar{
	width: 100%;
	height: 40px;
	background: white;
	box-shadow: -1px 0px 1px #999;
	z-index: 100;
	text-align: center;

	.filter-block.text-filter{
		width: 200px;
		overflow: hidden;
		position: relative;
		i{
			position: absolute;
			top: 10px;
			left: 9px;
		}
		input{
			margin-top: 5px;
			width: 100%;
			padding-left: 25px;
			font-size: 14px;
			height: 31px;
			height: 100%;
			margin-top: 0px;
			border: none;
			background-color: #fcfcfc;
			padding-left: 34px;
			background-color: #f9f9f9;
		}
		input:focus{
			outline-color: transparent;
		}
	}

	.filter-block{
		text-align: center;
		color: black;
		font-family: $font-captions;
		text-transform: uppercase;
		font-size: 15px;
		display: inline-block;
		width: 100px;
		height: 100%;
		float: none;
		position: relative;
		margin-left: 30px;
		margin-right: 30px;
		vertical-align: middle;
		&:hover{
			cursor: pointer;
		}
		&.filtering{
			border-bottom: 2px solid $main-red;
		}
		span{
			line-height: 46px;
			font-size: 13px;
			margin-right: 10px;
		}
		img{
			width: 16px;
		}
		.filter-menu{
			// height: 0px;
			background-color: white;
			position: absolute;
			top: 40px;
			width: 200px;
			left: 0px;
			overflow: hidden;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
			-moz-transform: translate(-50%,0);
			-o-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			opacity: 0;
			transition: opacity $animation-time;
			z-index: -1;
			height: 0px;
			// transition: height $animation-time;
			.filter-menu-content{
				padding: 20px;
				border-top: 1px solid #eee;
				text-align: left;
				padding-bottom: 60px;
				button{
					position: absolute;
					bottom: 0px;
					left: 50%;
					transform: translate(-50%,0);
					-webkit-transform: translate(-50%,0);
					-moz-transform: translate(-50%,0);
					-o-transform: translate(-50%,0);
					-ms-transform: translate(-50%,0);
					bottom: 15px;
				}
			}
			&.active{
				height: auto;
				// height: 200px;
				opacity: 1;
				z-index: 999;
			}
			.checkbox-text{
				line-height: 30px;
				margin-left: 10px;
			}
			.color.active,.size.active{
				box-sizing: border-box;
				border: 3px solid #97191f;
			}
			.color{
				background: black;
				width: 30px;
				height: 30px;
				border: 1px solid #555;
				display: inline-block;
				margin-right: 5px;
				margin-left: 5px;
			}
			.size{
				background: white;
				width: 30px;
				height: 30px;
				border: 1px solid black;
				display: inline-block;
				margin-right: 5px;
				margin-left: 5px;
				text-align: center;
				margin-bottom: 10px;
				span{
					font-size: 11px;
					text-align: center;
					margin: auto;
					line-height: 27px;
				}
			}
			button{
				color: black;
				text-transform: uppercase;
				border-radius: 0px;
				padding: 4px 11px;
				font-size: 12px;
			}

		}
	}
	.filter-button-container{
		position: absolute;
		right: 17px;
		padding: 0px;
		padding-top: 7px;
		width: auto;
		button{
			color: black;
			text-transform: uppercase;
			border-radius: 0px;
			padding: 4px 11px;
			font-size: 12px;
		}
	}
}