@font-face {
  font-family: 'fontello';
  src: url('../content/fonts/fontello.eot?74828637');
  src: url('../content/fonts/fontello.eot?74828637#iefix') format('embedded-opentype'),
       url('../content/fonts/fontello.woff?74828637') format('woff'),
       url('../content/fonts/fontello.ttf?74828637') format('truetype'),
       url('../content/fonts/fontello.svg?74828637#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74828637#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-icon_breathable:before { content: '\e800'; } /* '' */
.icon-icon_cart:before { content: '\e801'; } /* '' */
.icon-icon_chain_protaction:before { content: '\e802'; } /* '' */
.icon-icon_comfort_fit:before { content: '\e803'; } /* '' */
.icon-icon_cyclist:before { content: '\e804'; } /* '' */
.icon-icon_dollar:before { content: '\e805'; } /* '' */
.icon-icon_dropbox_full:before { content: '\e806'; } /* '' */
.icon-icon_dropbox:before { content: '\e807'; } /* '' */
.icon-icon_dry_fast:before { content: '\e808'; } /* '' */
.icon-icon_euro:before { content: '\e809'; } /* '' */
.icon-icon_facebook_full:before { content: '\e80a'; } /* '' */
.icon-icon_facebook:before { content: '\e80b'; } /* '' */
.icon-icon_find:before { content: '\e80c'; } /* '' */
.icon-icon_flickr_full:before { content: '\e80d'; } /* '' */
.icon-icon_flickr:before { content: '\e80e'; } /* '' */
.icon-icon_freccia:before { content: '\e80f'; } /* '' */
.icon-icon_googleplus_full:before { content: '\e810'; } /* '' */
.icon-icon_googleplus:before { content: '\e811'; } /* '' */
.icon-icon_instagram_full:before { content: '\e812'; } /* '' */
.icon-icon_instagram:before { content: '\e813'; } /* '' */
.icon-icon_lightweight_garment:before { content: '\e814'; } /* '' */
.icon-icon_like:before { content: '\e815'; } /* '' */
.icon-icon_linkedin_full:before { content: '\e816'; } /* '' */
.icon-icon_linkedin:before { content: '\e817'; } /* '' */
.icon-icon_mail:before { content: '\e818'; } /* '' */
.icon-icon_packable:before { content: '\e819'; } /* '' */
.icon-icon_paypal_full:before { content: '\e81a'; } /* '' */
.icon-icon_paypal:before { content: '\e81b'; } /* '' */
.icon-icon_pinterest:before { content: '\e81c'; } /* '' */
.icon-icon_pound:before { content: '\e81d'; } /* '' */
.icon-icon_pinterest_full:before { content: '\e81e'; } /* '' */
.icon-icon_recycled_fabric:before { content: '\e81f'; } /* '' */
.icon-icon_reflective_details:before { content: '\e820'; } /* '' */
.icon-icon_rss_full:before { content: '\e821'; } /* '' */
.icon-icon_rss:before { content: '\e822'; } /* '' */
.icon-icon_search:before { content: '\e823'; } /* '' */
.icon-icon_smell_free:before { content: '\e824'; } /* '' */
.icon-icon_store:before { content: '\e825'; } /* '' */
.icon-icon_stretch_fabric:before { content: '\e826'; } /* '' */
.icon-icon_sweat_control:before { content: '\e827'; } /* '' */
.icon-icon_thermo_regolation:before { content: '\e828'; } /* '' */
.icon-icon_tumbler_full:before { content: '\e829'; } /* '' */
.icon-icon_tumbler:before { content: '\e82a'; } /* '' */
.icon-icon_twitter_full:before { content: '\e82b'; } /* '' */
.icon-icon_twitter:before { content: '\e82c'; } /* '' */
.icon-icon_user:before { content: '\e82d'; } /* '' */
.icon-icon_water_proof:before { content: '\e82e'; } /* '' */
.icon-icon_water_resistent:before { content: '\e82f'; } /* '' */
.icon-icon_windproof:before { content: '\e830'; } /* '' */
.icon-icon_yen:before { content: '\e831'; } /* '' */
.icon-icon_youtube_full:before { content: '\e832'; } /* '' */
.icon-icon_youtube:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-trash:before { content: '\e835'; } /* '' */
.icon-volume-up:before { content: '\e836'; } /* '' */
.icon-volume-mute:before { content: '\e837'; } /* '' */
.icon-search:before { content: '\e838'; } /* '' */
.icon-menu:before { content: '\e839'; } /* '' */