// bower:scss
// endbower

@import 'vars';

#footer{
	background: #191919;
	padding: 35px;
	overflow: hidden;
	// margin-top: 150px;

	img{
		display: block;
		margin: auto;
	}

	li{
		font-family: $font-headers;
		list-style-type: none;
		margin: 15px auto;
		text-align: center;
		span{
			display: block;
			font-size: 12px;
			letter-spacing: 1px;
		}
		strong{
		}
		span{
			color: white;
		}
		a{
			color: white;
			text-decoration: none;
		}
		a:hover{
			color: $main-red;
			text-decoration: none;
			cursor: pointer;
		}
	}
	li.footer-category{
		text-transform: uppercase;
		color: $main-red;
		color: white;
		font-size: 15px;
		margin: 20px auto;
		margin-top: 0px;
		span{
			font-size: 14px;
			font-weight: 700;
		}
	}

	.brand-info{
		color: $main-red;
		color: white;
		img{
			width: 100px;
		}
		li{
			margin: 20px auto;
		}
	}
	.footer-category-mobile-container{
		display: none;
	}
}



@media (max-width: 1024px){
#footer{
	background: #191919;
	padding: 35px;
	overflow: hidden;
	// margin-top: 150px;

	img{
		display: block;
		margin: auto;
	}

	li{
		font-family: $font-headers;
		list-style-type: none;
		margin: 15px auto;
		text-align: center;
		span{
			display: block;
			font-size: 12px;
			letter-spacing: 1px;
		}
		strong{
		}
		span{
			color: white;
		}
		a{
			color: white;
			text-decoration: none;
		}
		a:hover{
			color: $main-red;
			text-decoration: none;
			cursor: pointer;
		}
		&.shipping-info{
				display: none;
			}
	}
	li.footer-category{
		text-transform: uppercase;
		color: $main-red;
		color: white;
		font-size: 15px;
		margin: 20px auto;
		margin-top: 0px;
		span{
			font-size: 14px;
			font-weight: 700;
		}
	}

	.brand-info{
		color: $main-red;
		color: white;
		img{
			width: 100px;
		}
		li{
			margin: 20px auto;
		}
	}
	.footer-category-mobile-container{
		display: none;
	}
}
}



@media (max-width: 767px){
	#footer{
		.brand-info{
			img{
				width: 130px;
			}
			li.shipping-info{
				display: none;
			}
		}
		.contact-us{
			margin-top: 30px;
		}
		.footer-category-container{
			display: none;
		}
		.footer-category-mobile-container:last-child{
		    border-bottom: 1px solid #333;
		}
		.footer-category-mobile-container{
			display: block;
			width: 200%;
			margin-left: -50%;
		    border-top: 1px solid #333;
		    padding: 0px;
		    height: 80px;
		    &:last-child{
		    }

		    .footer-category{
		    	margin: 0px;
		    	height: 100%;

		    	select{
		    		width: 100%;
		    		height: 100%;
		    		opacity: 0;
		    		z-index: 9999;
		    		position: relative;
		    	}
		    	span{
		    		position: absolute;
	    		    top: 50%;
	    		    left: 50%;
	    		    transform: translate(-50%,-50%);
	    		    -webkit-transform: translate(-50%,-50%);
	    		    -moz-transform: translate(-50%,-50%);
	    		    -o-transform: translate(-50%,-50%);
	    		    -ms-transform: translate(-50%,-50%);
		    	}
		    }
		}
	}
}