// bower:scss
// endbower

@import 'vars';

.gallery-container{
	opacity: 0;
	transition: opacity $animation-time;
	z-index: -1;
	height: 0px;
	overflow: hidden;

	&.active{
		height: auto;
		opacity: 1;
		position: fixed;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		background-color: rgba(0,0,0,0.8);
		z-index: 9999;

		.img{
			height: 100%;
			text-align: center;
			img{
				height: 100%;
				max-width: 100%;
				width: auto !important;
			}
		}
		.close-button{
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			display: block;
			font-family: serif;
			font-size: 51px;
			line-height: 33px;
			text-align: center;
			font-weight: 100;

			position: absolute;
			top: 10px;
			right: 10px;
			color: white;
			background-color: transparent;
		}
		.control:hover{
			cursor: pointer;
		}
		.control.left-control{
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			font-size: 22px;
			background-color: transparent;
			color: black;
			width: 57px;
			height: 57px;
			padding-top: 7px;
			text-shadow: none;
			line-height: 40px;
			i{
				transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				filter: FlipH;
				-webkit-filter: FlipH;
				-moz-filter: FlipH;
				-o-filter: FlipH;
				filter: FlipH;
				background-color: white;
				color: black;
				padding: 15px;
			}
			i::before{
				font-family: "fontello";
				content: '\e80f';
			}
		}
		.control.right-control{
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			font-size: 22px;
			background-color: transparent;
			color: black;
			width: 57px;
			height: 57px;
			padding-top: 7px;
			text-shadow: none;
			line-height: 40px;
			i{
				// transform: scaleX(-1);
				// -webkit-filter: FlipH;
				// filter: FlipH;
				background-color: white;
				color: black;
				padding: 15px;
			}
			i::before{
				font-family: "fontello";
				content: '\e80f';
			}
		}
	}
}