// bower:scss
// endbower
@import 'vars';
@import 'main';
#header {
    @include scrollbars(.5em, #333);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;

    .validation-error{
        display: block;
        margin-top: 5px;
        text-align: center;
    }

    img.down-arrow {
        font-size: 14px;
        width: 14px;
        margin-left: 11px;
    }
    .navbar .upper-black-bar .currency {
        display: inline-block;
        position: relative;
        top: 1px;
        margin-right: 6px;
        vertical-align: text-bottom;
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover .currency-description-container {
            width: 100px;
        }
        .currency-menu {
            position: absolute;
            width: 200px;
            background-color: $upper-black-bar;
            top: 33px;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            height: 0px;
            transition: height $animation-time;
            overflow: hidden;
            z-index: 1000;
            &.active {
                height: 130px;
                overflow-y: auto;
            }
            li.currency {
                width: 100%;
                padding: 10px;
                list-style-type: none;
                padding-left: 20px;
                &:hover {
                    background-color: lighten($upper-black-bar, 10%);
                }
                i {
                    font-size: 13px;
                    margin-right: 10px;
                }
                span {
                    opacity: 0.8;
                    font-family: $font-headers;
                }
            }
        }
        .currency-description-container {
            width: 0px;
            overflow: hidden;
            height: 20px;
            transition: width $animation-time;
            span {
                opacity: 0.8;
                margin-left: 13px;
                font-family: $font-headers;
                letter-spacing: 1px;
            }
        }
        .currency-icon-container .currency-icon-inner-container i {
            font-size: 19px;
        }
    }
    .navbar .upper-black-bar .search-icon{
        .search-menu{
            position: absolute;
            width: 300px;
            z-index: 9999;
            right: 0px;
            overflow: hidden;
            background-color: $upper-black-bar;
            height: 0px;
            transition: height $animation-time;
            padding: 0px;
            &.active{
                height: 53px;
            }
            .search-menu-content{
                padding: 10px;
            }
            form{
                padding: 0px;
            }
            input{
                width: 100%;
                margin: 0px;
                text-align: left;
                text-transform: none;
                font-size: 15px;
                display: block;
                color: #333;
                padding-left: 32px;
                font-style: normal;
                height: 32px;
            }
            i.icon-search{
                position: absolute;
                top: 14px;
                color: black;
                font-size: 17px;
                left: 14px;
                color: #444;
            }
        }
    }
    .custom-message {
        text-transform: uppercase;
        margin-right: 6px;
        opacity: 0.8;
        font-family: $font-headers;
        font-size: 13px;
        letter-spacing: 1px;
        padding-top: 2px;
        span{
	        vertical-align: 4px;
	        margin-right: 12px;
        }
        i.icon-icon_user{
        	font-size: 25px;
        	color: rgba(245,245,245,0.5);
        }
        &:hover {
            cursor: pointer;
        }
        img {
            width: 14px;
            margin-left: 11px;
        }
    }
    .spinoff {
        transition: transform $animation-time;
    }
    .navbar {
        border: none;
        background-color: transparent;
        z-index: 9999;
        margin-bottom: 0px;
        .container-fluid {
            height: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
        // **** INFO MENU
        .info-menu {
            height: 0px;
            overflow: hidden;
            background-color: $upper-black-bar;
            transition: height $animation-time;
            color: white;
            width: 100%;
            .logout-button{
                margin-top: 21px;
            }
            .login-name{
                margin-top: 19px;
            }
            > * {
                position: relative;
                height: 100%;
            }
            .block-container {
                text-align: left;
            }
            .description {
                text-transform: uppercase;
                color: white;
                opacity: 0.7;
                font-family: $font-headers;
                letter-spacing: 1px;
                display: block;
                &.strong{
                    color: white;
                    opacity: 1;
                }
            }
            input {
                margin-top: 10px;
                width: 100%;
                padding: 5px 9px;
                border: none;
                height: 40px;
                color: black;
            }
            button{
                width: 100%;
                margin-top: 10px;
                border-radius: 0px;
                height: 40px;
                background-color: $main-red;
                &:hover{
                    color: white;
                }
            }
            &.active {
                height: 300px;
            }
            &.extended{
                height: 440px;
            }
            &.inactive{
                height: 0px;
            }
            .block-container{
            	height: 0px;
            }
            .block-container.active{
            	height: 100px;
            }
        }
        // *** MAIN MENU	
        .main-menu {
            width: 100%;
            position: relative;
            background: rgba($bg-yellow, 0.8);
            height: $header-height;
            text-align: center;
            font-weight: bold;
            transition: height $animation-time;
            .logo {
                display: inline-block;
                height: $header-height;
                overflow: hidden;
                margin-left: -3px;
                margin-right: -3px;
                img {
                    height: $header-height;
                    display: block;
                }
            }
        }
        // ****BLACK BAR
        .upper-black-bar {
            height: 40px;
            background: $upper-black-bar;
            color: #f5f5f5;
            font-size: 14px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: -1px;
            .menu-item {
                height: 40px;
                transform: translate(0px, -200px);
                -webkit-transform: translate(0px, -200px);
                -moz-transform: translate(0px, -200px);
                -o-transform: translate(0px, -200px);
                -ms-transform: translate(0px, -200px);
                a:not(.active) {
                    color: white;
                    opacity: 0.8;
                    font-weight: bold;
                }
                a{
                    line-height: 44px;
                }
                a:hover{
                    cursor: pointer;
                    text-transform: uppercase;
                }
            }
            a {
                text-transform: none;
                color: inherit;
                &:hover {
                    text-transform: none;
                }
            }
            .small-logo {
                height: 40px;
                position: absolute;
                left: 30px;
                top: -60px;
                transition: top $animation-time;
                img {
                    height: 100%;
                }
            }
            h2 {
                font-size: 15px;
                margin-top: 0px;
                margin: 0px;
                float: left;
                line-height: 40px;
                font-family: $font-captions;
            }
            .pull-right {
                margin: 0px;
                padding-top: 2px;
                input {
                    box-shadow: none;
                    border: none;
                    height: 28px;
                    padding: 5px;
                    margin-right: 15px;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: $font-headers;
                    color: black;
                }
                .option-icons {
                    i {
                        font-size: 16px;
                        font-size: 25px;
                        opacity: 1;
                        color: rgba(245, 245, 245, 0.5);
                        position: relative;
                    }
                    i.flag-icon {
                        opacity: 0.5;
                        color: white;
                    }
                    i:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                    i.icon-icon_cart.active{
                        color: #be1621;
                    }
                    .basket-length {
                        position: absolute;
                        left: 13px;
                        color: white;
                        top: 5px;
                        font-size: 16px;
                    }
                }
                > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .menu-dropdown {}
        .menu-items {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
        }
        .menu-item {
            height: $header-height;
            width: $header-height;
            position: relative;
            padding: 0px;
            margin-left: 0px;
            font-family: $font-headers;
            display: inline-block;
            transition: transform $animation-time;
            a{
                text-transform: uppercase;
            }
            // text-transform: uppercase;
        }
        padding-right: 0px;
        .menu-item:not(.active) {
            background: none !important;
            a {
                color: black;
            }
            a:hover {
                color: $main-red;
                text-decoration: none;
            }
            a:active,
            a:focus {
                text-decoration: none;
            }
        }
        .menu-item a {
            // opacity: 0.8;
            height: 100%;
            line-height: 110px;
        }
        .menu-item.active {
            opacity: 1;
            > a {
                background: transparent;
                color: inherit;
            }
            > a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .social-icons {
            .col-xs-3 {
                margin-bottom: 2px;
                margin-top: 2px;
                padding: 0px;
            }
            i {
                font-size: 22px;
                margin-bottom: 0px;
                margin-top: 0px;
                opacity: 0.5;
                line-height: 0px;
                color: white;
            }
            i:hover {
                opacity: 1;
            }
        }
        .navbar-header {
            height: 100%;
            .navbar-brand {
                background: black;
                color: white;
                font-size: 26px;
                height: $header-height;
                padding: 0px;
                margin: 0px;
                img {
                    height: 100%;
                }
                &.inverted {
                    background: white;
                    color: black;
                }
            }
        }
        .pull-right {
            margin-right: 30px;
        }
        // HEADER ACTIONS (SIGN IN ,REGISTER, SEARCH ....)
        .menu-item.header-actions {
            width: 200px;
            .vertical-align {
                margin-top: 5px;
            }
            .authLink {
                font-size: 12px;
                opacity: 0.8;
                padding: 0px 5px;
                border-right: 1px solid black;
                &.registerLink {
                    border-right: none;
                }
            }
            input {
                height: 23px;
                margin-top: 10px;
                text-align: center;
                font-size: 12px;
                margin-bottom: -12px;
                border: none;
            }
            .header-option-links {
                margin-top: 20px;
                margin-left: 0px;
                i {
                    font-size: 24px;
                    opacity: 0.7;
                    line-height: 0px;
                }
                i:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#submenu {
    height: 0px;
    // height: $submenu-height;
    background-color: white;
    width: 100%;
    z-index: 9999;
    position: absolute;
    top: $header-height+40px;
    overflow: hidden;
    transition: height 0.2s;
    &.visible {
        height: $submenu-height;
    }
}

// MENU BLOCK
#header .block {
    h3 {
        font-size: 17px;
        line-height: 20px;
        margin: 0px;
        font-family: $font-captions;
        margin-bottom: 5px;
        opacity: 1;
    }
    position: relative;
    .title-block {
        font-family: $font-headers;
    }
    .social-block {
        font-size: 17px;
        .social-icons {
            margin-top: 15px;
            max-width: 180px;
            margin-left: auto;
            margin-right: auto;
            .col-xs-3 {
                margin-bottom: 5px;
                padding: 0px;
            }
            a{
                color: inherit;
            }
        }
        .vertical-align {
            padding: 50px;
        }
        i {
            font-size: 26px;
            opacity: 0.7;
        }
        i:hover {
            opacity: 1;
        }
        font-family: $font-captions;
    }
    .menu-block {
        text-align: center;
        padding-top: 50px;
        font-family: $font-headers;

        &.shop-all{
            display: block;
            margin-top: 270px;
            text-align: center;
        }

        i {
            font-size: 40px;
        }
        .category-title {
            font-family: $font-captions;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .category-links {
            margin-top: 10px;
            a {
                display: block;
                color: white;
                opacity: 0.7;
                text-decoration: none;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 12px;
            }
            a:hover {
                opacity: 1;
            }
        }
    }
}

.submenu-block,
.block,
.block-container {
    height: 100%;
    height: calc(100% - 200px);
    padding: 0px;
    a{
        color: inherit;
        &:hover,&:focus{
            text-decoration: none;
        }
    }
    .vertical-align {
        top: 0px;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        padding: 50px 20px;
    }

    .toggle-content{
        opacity: 0;
        transition: opacity $animation-time;
        height: 0px;
        overflow: hidden;
        padding: 0px;
        &.active{
            opacity: 1;
            height: auto;
            // padding: inherit;
        }
    }

    &.subscribe-block{
        form{
            padding-top: 0px;
        }
    }
}

#header.shrinked {
    .upper-black-bar {
        .menu-item {
            transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
        }
        .spinoff {
            transform: translate(0px, -60px);
            -webkit-transform: translate(0px, -60px);
            -moz-transform: translate(0px, -60px);
            -o-transform: translate(0px, -60px);
            -ms-transform: translate(0px, -60px);
            transition: transform $animation-time;
        }
        .small-logo {
            top: 0px;
        }
    }
    .main-menu {
        height: 0px;
        overflow: hidden;
    }
    #submenu {
        top: 40px;
    }
}

#mobile-navbar {
    display: none;
}

// MOBILE VERSION
@media (max-width: 1024px) {
    #header .navbar {
        display: none;
    }
    #mobile-navbar {
        display: block;
        .upper-black-bar {
            height: 50px;
            background-color: $upper-black-bar;
            padding-left: 20px;
            padding-right: 10px;
            .menu-content-container {
                height: 0px;
                overflow: hidden;
                width: 100%;
                position: absolute;
                left: 0px;
                transition: height $animation-time;
                overflow-y: auto;
                top: 50px;
                &.active {
                    height: 500px;
                }
                &.active.logged {
                    height: 620px;
                }
            }
            .menu-content {
                width: 100%;
                left: 0px;
                background-color: $upper-black-bar;
                text-align: center;
                padding: 20px;
                padding-left: 0px;
                padding-right: 0px;
                .option-icons {
                    > * {
                        display: inline-block;
                        margin: auto 1px;
                        color: white;
                        vertical-align: middle;
                    }
                    i{
                        font-size: 35px;
                    }
                    i.flag-icon {
                        font-size: 36px;
                        // left: -20px !important;
                        position: absolute;
                        left: 0px;
                        // top: -20px; 
                        // font-size: 50px !important;
                    }
                    i.icon-icon_cart.active{
                        color: #be1621;
                    }
                    .currency-icon-container {
                        border: 2px solid white;
                        margin-right: 7px;
                        width: 36px;
                        height: 36px;
                        position: relative;
                        margin-bottom: 2px;

                        select{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            opacity: 0;
                            z-index: 9000;
                            width: 100%;
                            height: 100%;
                        }
                        .currency-icon-inner-container {
                            width: 24px;
                            height: 24px;
                            top: 4px;
                            left: 4px;
                            i {
                                left: -10px;
                                font-size: 33px;
                                font-size: 25px;
                                left: -5px;
                            }
                        }
                    }
                }
                .menu-item {
                    display: block;
                    width: 100%;
                    height: 80px;
                    background-color: transparent;
                    text-align: center;
                    color: white;
                    text-align: center;
                    width: 200%;
                    position: relative;
                    border: 1px solid #333;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    .menu-item-name {
                        position: absolute;
                        height: 20px;
                        color: white;
                        top: 50%;
                        // z-index: 9999;
                        display: block;
                        left: 25%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                    }
                    select {
                        z-index: 9999;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        color: $upper-black-bar;
                        color: transparent;
                        opacity: 0;
                        background-color: transparent;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        z-index: 99999;
                        position: relative;
                    }
                }
                .social-icons {
                    color: white;
                    width: 160px;
                    margin: auto;
                    padding-top: 2px;
                    > * {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    i {
                        font-size: 28px;
                        opacity: 0.7;
                        color: white;
                    }
                }
                .user-logout{
                    padding-bottom: 10px;
                    border-bottom: 1px solid #333;
                    span{
                        color: white;
                        display: block;
                        margin: 10px auto;
                    }
                    button{
                        width: calc(100% - 40px);
                        border-radius: 0px;
                        background-color: $main-red;
                        color: white;
                        text-transform: uppercase;
                        padding: 5px 12px;
                        max-width: 260px;
                    }
                }
            }
            > * {
                float: left;
            }
            .small-logo {
                height: 100%;
                img {
                    height: 100%;
                }
            }
            .icon-menu {
                color: white;
                font-size: 33px;
                line-height: 50px;
            }
        }
    }
}

#header .currency-icon-container,
#mobile-navbar .currency-icon-container {
    border-radius: 100%;
    border: 1px solid black;
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-color: #878787;
    .currency-icon-inner-container {
        width: 17px;
        height: 17px;
        overflow: hidden;
        border-radius: 100%;
        position: relative;
        top: 3px;
        left: 3px;
        i {
            font-size: 19px;
            position: relative;
            left: -4px;
            font-size: 19px;
        }
    }
}

// TABLET VERSION
@media (max-width: 1200px) and (min-width: 768px) {
    #header .navbar .menu-items {
        position: static;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
    }
}
