// bower:scss
// endbower

@import 'vars';

#home-page{
	padding-bottom: 0px;
	min-height: 400px;
	// margin-top: -165px;
	background-size: cover;
    #main-search-page{
        height: 600px;
        background: green;
    }

    #home-carousel{
    	position: relative;
    	height: 90%;
    	overflow: hidden;
    	img{
	    	width: 100%;
	    }
	    .caption{
	    	position: absolute;
	    	background: rgba($bg-yellow,0.6);
	    	padding: 15px;
	    	padding-left: 50px;
	    	padding-right: 50px;
	    	z-index: 100;

	    	h2{
	    		margin-top: 0px;
	    		font-family: $font-headers;
	    		font-size: 40px;    position: static;
			    left: 0px;
			    transform: none;
			    -webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
	    		text-transform: uppercase;
	    		font-weight: bold;
	    		font-size: 34px;
	    	}
	    	p{
	    		font-family: $font-captions;
	    		font-size: 15px;
	    		letter-spacing: 1px;
	    	}
	    }
	    .carousel-indicators li{
	    	border-radius: 0px;
	    	opacity: 0.85;
	    	width: 14px;
	    	height: 14px;
	    	margin: 3px;
	    	background-color: white;
	    	border: none;
	    	&.active{
	    		background: $main-red;
	    	}
	    }
	    .control:hover, .control:focus, .control{
	    	background-image: none;
	    }
	    .control.left-control, .control.right-control{
	    	position: absolute;
	    	top: calc((100% - 165px)/2 + 165px);
	    	transform: translate(0,-50%);
	    	-webkit-transform: translate(0,-50%);
	    	-moz-transform: translate(0,-50%);
	    	-o-transform: translate(0,-50%);
	    	-ms-transform: translate(0,-50%);
	    	font-size: 22px;
	    	background-color: transparent;
	    	color: black;
	    	width: 57px;
	    	height: 57px;
	    	padding-top: 7px;
	    	text-shadow: none;
	    	line-height: 40px;
	    	&.left-control{
	    		left: 50px;
	    	}
	    	&.right-control{
	    		right: 50px
	    	}
	    	.glyphicon{
	    		padding: 15px;
	    	}
	    }
	    .control .glyphicon-chevron-right{
	    	background: white;
		}
	    .control .glyphicon-chevron-left{
	    	transform: scaleX(-1);
	    	-moz-transform: scaleX(-1);
	    	-o-transform: scaleX(-1);
	    	-webkit-transform: scaleX(-1);
	    	-ms-transform: scaleX(-1);
	    	filter: FlipH;
	    	-webkit-filter: FlipH;
	    	-moz-filter: FlipH;
	    	-o-filter: FlipH;
	    	-ms-filter: FlipH;
	    	background-color: black;
	    	color: white;
	    }
	    .control .glyphicon-chevron-left, .control .glyphicon-chevron-right{
	    	&::before{
		    	font-family: "fontello";
		    	content: '\e80f';
		    }
	    }
	    .control{
	    	opacity: 0.7;
	    	&:hover{
	    		opacity: 0.9;
	    	}
	    }



    }

    .newsletter-bottom-bar{
    	padding: 0px 20px;
    	height: 50px;
    	position: relative;
    	background-color: #EEECE5;
    	margin-top: 50px;
    	font-family: $font-captions;
    	margin-bottom: 15px;
    	background-color: transparent;
    	height: 40px;
    	form{
    		padding: 0px;
    	}
    	.newsletter-bottom-bar-content{
    		$input-width: 330px;
    		// position: absolute;
    		// left: 50%;
    		// height: 100%;
    		// transform: translate(-50%,0);
    		> *{
    			// display: inline-block;
    			// height: 100%;	
    			// vertical-align: middle;
    		}
    		input{
    			width: $input-width;
    			height: 40px;
    			border: none;
    			position: absolute;
    			left: calc(50% - 60px);
    			transform: translate(-50%,0);
    			-webkit-transform: translate(-50%,0);
    			-moz-transform: translate(-50%,0);
    			-o-transform: translate(-50%,0);
    			-ms-transform: translate(-50%,0);
    			text-align: center;
    		}
    		span{
    			position: absolute;
    			right: calc(50% + #{$input-width/2 + 60px});
    			margin-right: 15px;
    			line-height: 51px;
    			color: #333;
    			font-family: $font-captions;
    		}
    		button{
    			position: absolute;
    			left: calc(50% + #{$input-width/2 - 52px});
    			height: 100%;
    			padding-left: 20px;
    			padding-right: 20px;
    			background-color: red;
    			border-radius: 0px;
    			color: white;
    			text-transform: uppercase;
    			font-family: $font-headers;
    			background-color: $main-red;
    			color: white;
    			background-color: black;
    		}
    	}	
    }

    #home-content{
    	.row{
    		text-align: center;
    		.box-container.text{
    			max-width: 800px;
    			display: inline-block;
			    float: none;
			    a{
			    	opacity: 1;
			    }
    		}
    		.box-container{
    			padding: $box-padding $box-padding/2;
    			height: 100%;
    			overflow: hidden;
    			&:first-child{
    				padding-left: 0px;
    			}
    			&:last-child{
    				padding-right: 0px;
    			}
    			&:first-child .box .box-content.vertical-align,&:last-child .box .box-content.vertical-align{
    				width: calc(100% - #{$box-padding/2})
    			}
    			a{
    				opacity: 0.7;
    				transition: opacity $animation-time;
    			}
    			a:hover{
    				text-decoration: none;
    				opacity: 1;
    			}
    			.box{
    				background-size: cover;
    				width: 100%;
    				height: 100%;
    				display: inline-block;
    				.box-content{
    					font-family: $font-captions;
    					font-size: 17px;
    					text-align: center;
    					color: black;
    					h3{
    						margin-top: 10px;
    					}
    					&.vertical-align{
    						width: calc(100% - #{$box-padding})
    					}
    				}
  
    			}
    			.box-image-center {
    				
    				background-repeat: no-repeat;
    				background-position-x: 50%;
    				
    			}
    			.box.image-box{
    				.box-content{
    					color: white;
    					p{
    						margin-bottom: 5px;
    						font-family: "Roboto Condensed";
    						font-weight: bold;
    						letter-spacing: 1px;
    						line-height: 30px;
    						font-size: 35px;
    					}
    					strong{
    						// font-size: 22px;
    						font-family: $font-captions;
    						margin-top: 5px;
    						font-weight: normal;
    						font-size: 18px;
    					}
    					
    				}
    				.box-content.vertical-align{
    					left: 50%;
    					transform: translate(-50%,-50%);
    					-webkit-transform: translate(-50%,-50%);
    					-moz-transform: translate(-50%,-50%);
    					-o-transform: translate(-50%,-50%);
    					-ms-transform: translate(-50%,-50%);
    				}
    			}
    		}
    	}
    }
}

@media (max-width: 767px){
	#home-page{
		#home-carousel{
			.caption{
				position: static;
				left: 0px;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
			}
		}
		#home-content{
			margin-top: 15px;
			.row .box-container{
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 0px;

				.box.image-box .box-content p{
					font-size: 25px;
				}
			}
		}
	}
}

@media (min-width: 767px) and (max-width: 1025px){
	#home-page{
		#home-carousel{
			.caption{
				width: 100% !important;
			}
		}
	}
}

@media (max-width: $lg-breakpoint-max){
	#home-page .newsletter-bottom-bar{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		z-index: 9999;
		padding: 0px;
		height: 40px;
		margin-bottom: 0px;
		.newsletter-bottom-bar-content{
			input{
				height: 40px;
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				left: 0px;
				display: inline-block;
				width: calc(100% - 40px);
				font-size: 12px;
			}
			button{
				position: static;
				display: inline-block;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				width: 40px;
				margin: 0px;
				padding: 0px;
				margin-left: -3px;
				margin-right: -1px;
				height: 40px;
			}
			span{
				position: static;
				display: block;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				width: 100%;
				margin: auto;
				text-align: center;
				font-size: 13px;
				line-height: 42px;
				color: white;
			}
		}
	}
}