// bower:scss
// endbower

@import 'vars';

#instagram-page{
	padding-top: 40px;
	.row{
		padding: 0px;
	}
	.photo{
		padding: 0px;
		position: relative;
		img{
			width: 100%;
		}
		.description{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			text-align: center;
			font-family: $font-captions;
			background: rgba(255,255,255,0.5);
			font-size: 16px;
			opacity: 0;
			transition: opacity 0.3s;
			&:hover,&.active{
				opacity: 1;
			}
			div{
				position: absolute;
				top: 50%;
				transform: translate(0,-50%);
				-webkit-transform: translate(0,-50%);
				-moz-transform: translate(0,-50%);
				-o-transform: translate(0,-50%);
				-ms-transform: translate(0,-50%);
				padding: 40px;
			}
		}
	}
}

@media (max-width: 767px){
	#instagram-page{
		padding-top: 0px;
		.photo{
			.description{
				div{
					font-size: 13px;
				    padding: 5px;
				}
				&:hover{
					opacity: 0;
				}
				&.active{
					opacity: 1;
				}
			}
		}
	}
}