// bower:scss
// endbower

@import 'vars';

#fontello-page i{
	font-size:24px;
}
body{
	background-color: #e0dbcb;
}
.vertical-align{
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  -webkit-transform: translate(0%,-50%);
  -moz-transform: translate(0%,-50%);
  -o-transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
  text-align: center;
  width: 100%;
  display: block;
  float: none;
}
.horizontal-align{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  text-align: center;
  display: block;
  float: none;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}



.cover-image{
	img{
		margin-top: -3px;
		width: 100%;
	}
	h1{
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-headers;
		letter-spacing: 3px;
		text-shadow: 0px 0px 12px #555;
		font-size: 40px;
	}
	h2{
		text-transform: uppercase;
		margin-top: 0px;
		font-size: 23px;
		letter-spacing: 1px;
	}
}
.cover-title{
	color: white;
	font-family: $font-captions;
	font-size: 22px;
	strong{
		font-size: 23px;
		display: block;
		font-family: $font-headers;
	}
}
.black-bar{
	background: black;
	height: 50px;
	text-align: center;
	color: white;
	font-family: $font-headers;
	line-height: 49px;
	font-size: 15px;
}
.separator{
	width: 10px;
	height: 10px;
	background: black;
	margin: auto;
	margin-top: 13px;
	  margin-bottom: 13px;
}
.box{
	padding: 20px 50px;
	text-align: center;
	font-family: $font-captions;
	font-size: 18px;
	position: relative;
	.footer{
		width: 70%;
		bottom: 30px;
		position: absolute;
		left: 50%;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		-ms-transform: translate(-50%,0);
	}
	.title{
		width: 70%;
		position: absolute;
		top: 30px;
		font-family: $font-headers;
		text-transform: uppercase;
		left: 50%;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		-ms-transform: translate(-50%,0);
		font-size: 25px;
	}
	img{
		width: 100%;
	}
	p{
		margin-bottom: 20px;
	}
	p:last-child{
		margin-bottom: 0px;
	}
}

.pointer:hover{
	cursor: pointer;
}

form{
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: $font-headers;
	// background: white;
	span.required{
		display: block;
		text-align: center;
	}
	.form-control.col-xs-9{
		width: 75% !important;
	}
	.form-control.col-xs-3{
		width: 25% !important;
	}
	label{
		text-align: right;
		line-height: 34px;
		font-size: 16px;
	}
	input.form-control{
		border-radius: 0px;
		margin-bottom: 5px;
		border: 1px solid black;
	}
	select{
		border-radius: 0px;
		border: 1px solid black;
	}
	hr{
		width: 75%;
		  text-align: right;
		  margin-right: 0px;
		  margin-top: 5px;
		  margin-bottom: 10px;
		  border-top: 1px solid black;
	}
	textarea{
		border: 1px solid black;
		margin-bottom: 10px;
	}
	.btn{
		border-radius: 0px;
		border: none;
		padding-left: 20px;
		text-transform: uppercase;
		background: #990000;
	}
	.cv{
		.col-xs-9{
			padding-left: 0px;
		}
		span{
			display: inline-block;
			margin-left: 15px;
			font-size: 16px;
		}
	}
	.subscribe{
		.title{
			text-align: center;
			font-size: 18px;
			margin-bottom: 10px;
		}
		span{
			display: inline-block;
			margin-left: 15px;
			max-width: 230px;
		}
	}
	.row{
		margin-bottom: 0px;
	}

}

.flag-icon-eu{
	background-image: url('/content/images/flag_eu.svg');
	top: -1px;
}

// CAROUSEL
.carousel,.single-carousel{
	overflow: hidden;

	img{
		width: 100%;
	}
}

.full-page-loader{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.8);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.6s;
    &.active{
    	z-index: 10;
    	opacity: 1;
    }
    i{
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	font-size: 40px;
    	color: #bbb;
    	margin-left: -28px;
    	margin-top: -28px;
    }
}


//MOBILE VERSION
@media (max-width: 767px){
	#container{
		padding-top: 50px;
	}
}


@for $i from 4 to 8{
	.col-xs-fraction-#{$i}{
		width: 100%/$i;
		float: left;
	}
	@media (min-width: 1200px){
		.col-lg-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
	@media (min-width: 992px){
		.col-md-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
	@media (min-width: 768px){
		.col-sm-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
}
@for $i from 5 to 8{
	.col-xs-fraction-#{$i}{
		width: 100%/$i;
		float: left;
	}
	@media (min-width: 1200px){
		.col-lg-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
	@media (min-width: 992px){
		.col-md-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
	@media (min-width: 768px){
		.col-sm-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
}
@for $i from 8 to 9{
	.col-xs-fraction-#{$i}{
		width: 100%/$i;
		float: left;
	}
	@media (min-width: 1200px){
		.col-lg-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
	@media (min-width: 992px){
		.col-md-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
	@media (min-width: 768px){
		.col-sm-fraction-#{$i}{
			width: 100%/$i;
			float: left;
		}
	}
}


@for $i from 2 to 3{
	@for $j from 3 to 4{
		.col-xs-fraction-#{$i}-#{$j}{
			width: 100%/$j*$i;
			float: left;
		}
		@media (min-width: 1200px){
			.col-lg-fraction-#{$i}-#{$j}{
				width: 100%/$j*$i;
				float: left;
			}
		}
		@media (min-width: 992px){
			.col-md-fraction-#{$i}-#{$j}{
				width: 100%/$j*$i;
				float: left;
			}
		}
		@media (min-width: 768px){
			.col-sm-fraction-#{$i}-#{$j}{
				width: 100%/$j*$i;
				float: left;
			}
		}
	}
	@for $j from 5 to 6{
		.col-xs-fraction-#{$i}-#{$j}{
			width: 100%/$j*$i;
			float: left;
		}
		@media (min-width: 1200px){
			.col-lg-fraction-#{$i}-#{$j}{
				width: 100%/$j*$i;
				float: left;
			}
		}
		@media (min-width: 992px){
			.col-md-fraction-#{$i}-#{$j}{
				width: 100%/$j*$i;
				float: left;
			}
		}
		@media (min-width: 768px){
			.col-sm-fraction-#{$i}-#{$j}{
				width: 100%/$j*$i;
				float: left;
			}
		}
	}
}

@media (min-width: 768px){
	.col-sm-fraction-1-5{
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px){
	.col-md-2 {
	  width: 16.66666667%;
	}
}

@media (min-width: $lg-breakpoint-min){
	.mobile{
		display: none;
	}
}
@media (max-width: $lg-breakpoint-max){
	.desktop{
		display: none;
	}
}

// SCROLLBARS
/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}