$animation-time: 0.4s;

.multi-carousel{
	position: relative;
	overflow: hidden;
	padding: 0px;
	// width: 100%;
	.slide{
		background-size: cover;
		&:hover{
			cursor: pointer;
		}
	}
	.carousel-content{
		position: absolute;
		width: 10000px;
		transition: left $animation-time;

		.carousel-container{
			position: relative;
			width: 0px;

			.slides-left-container{
				position: absolute;
				right: 0px;
				width: 30000px;
				text-align: right;
			}
			.slides-right-container{
				position: absolute;
				left: 0px;
				width: 30000px;
			}
			.slide{
				display: inline-block;
			}
		}
	}
	.control{
		position: absolute;
		height: 100%;
		width: 100px;
		z-index: 99;
		&:hover{
			cursor: pointer;
		}
		&.left-control{
			background-color: rgba(255,255,255,0.5);
			left: 0px;
			&:hover{
				background-color: rgba(255,255,255,0.7);
			}

			i{
				top: 50%;
				position: absolute;
				left: 50%;
				font-size: 29px;
				transform: translate(-50%,-50%) rotate(180deg);
				-webkit-transform: translate(-50%,-50%) rotate(180deg);
				-moz-transform: translate(-50%,-50%) rotate(180deg);
				-o-transform: translate(-50%,-50%) rotate(180deg);
				-ms-transform: translate(-50%,-50%) rotate(180deg);
			}
		}
		&.right-control{
			background-color: rgba(0,0,0,0.5);
			right: 0px;
			color: white;
			&:hover{
				background-color: rgba(0,0,0,0.7);
			}

			i{
				top: 50%;
				position: absolute;
				left: 50%;
				font-size: 29px;
				transform: translate(-50%,-50%);
				-webkit-transform: translate(-50%,-50%);
				-moz-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
			}
		}
	}

	.page{
		position: absolute;
		.slide{
			display: inline-block;
		}
		&.current.ng-leave{
			transition: left 0.5s;
			left: 0px;
		}
		&.current{
			left: 0px;
		}
	}
	&.left .page{
		&.current.ng-leave-active{
			left: 1000px;
		}
		&.current.ng-enter.ng-enter-active{
			left: 0px;
		}
		&.current.ng-enter{
			left: -1000px;
			transition: left 0.5s;
		}
	}
	&.right .page{
		&.current.ng-leave-active{
			left: -1000px;
		}
		&.current.ng-enter.ng-enter-active{
			left: 0px;
		}
		&.current.ng-enter{
			left: 1000px;
			transition: left 0.5s;
		}
	}

	&.no-animation .ng-leave-active, &.no-animation .ng-enter{
		transition: none !important;
	}
}


@media (max-width: 767px){
	$animation-offset: 768px;
	.multi-carousel{
		&.left .page{
			&.current.ng-leave-active{
				left: $animation-offset;
			}
			&.current.ng-enter{
				left: -$animation-offset;
			}
		}
		&.right .page{
			&.current.ng-leave-active{
				left: -$animation-offset;
			}
			&.current.ng-enter{
				left: $animation-offset;
			}
		}
	}
}
@media (max-width: 400px){
	$animation-offset: 401px;
	.multi-carousel{
		&.left .page{
			&.current.ng-leave-active{
				left: $animation-offset;
			}
			&.current.ng-enter{
				left: -$animation-offset;
			}
		}
		&.right .page{
			&.current.ng-leave-active{
				left: -$animation-offset;
			}
			&.current.ng-enter{
				left: $animation-offset;
			}
		}
	}
}

@media (max-width: 1024px) and (orientation : portrait){
	.product-carousel{
		&.landscape{
			display: none;
		}
	}
}

@media (max-width: 1024px) and (orientation : landscape){
	.product-carousel{
		&.portrait{
			display: none;
		}
	}
}