// bower:scss
// endbower

@import 'vars';

#popover{
	display: none;
}
#popover.active{
	display: block;
}
.popover-background.active{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba($bg-yellow,0.8);
	z-index: 99999;

	.popover-content.subscribed{
		.description,.promise{
			visibility: hidden;
		}
	}

	.popover-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		background-color: black;
		color: white;
		font-family: $font-headers;
		padding: 30px;
		text-align: center;
		width: 380px;

		form,.description{
			font-family: $font-captions;
		}
		.description{
			font-size: 17px;
		}
		.promise{
			width: 270px;
			margin: auto;
		}
		.btn{
			background-color: transparent;
			border: 1px solid white;
			color: white;
			text-transform: lowercase;
			width: 200px;
		}
		.close-button{
			width: 30px;
			height: 30px;
			background-color: white;
			position: absolute;
			top: -30px;
			right: 0px;
			color: black;
			&:hover{
				cursor: pointer;
			}
			span{
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				display: block;
				font-family: serif;
				font-size: 51px;
				line-height: 33px;
				text-align: center;
				font-weight: 100;
			}
		}
		form{
			padding-top: 20px;
			input{
				display: block;
				margin: 10px auto;
				width: 200px;
				text-align: center;
				color: black;
				font-size: 12px;
				padding: 6px;
			}
			input.submit{
				background-color: black;
				border: 1px solid white;
				color: white;	
				margin-top: 20px;
				transition: color $animation-time, background-color $animation-time; 
				&:hover{
					// color: black;
					background-color: $main-red;
				}
			}
		}
	}
}

// MOBILE VERSION
@media (max-width: 767px) {
	.popover-background.active  .popover-content{
		width: 100%;
		.description{
			font-size: 16px;
		}
		form{
			padding-top: 5px;
		}
	}		
}