// bower:scss
// endbower

@import 'vars';


.product-item{
	font-family: $font-headers;
	margin-bottom: 20px;
	.product-image{
		background-size: cover;
		padding-top: 100%;
	}
	.color-palette{
		margin-top: 5px;
		margin-bottom: 2px;
	}
	.price{
		font-weight: bold;
		span{
			margin-left: 2px;
			margin-right: 2px;
		}
	}
	.product-text{
		text-align: center;
		height: 150px;
		padding-top: 10px;
		h4{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 17px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
		.product-subname{
			font-family: $font-captions;
			display: block;
			height: 80px;
			overflow-y: overlay;
			overflow-y: -webkit-paged-x;
			overflow-y: -moz-paged-y;
			overflow-y: -o-paged-y;
			overflow-y: -ms-paged-y;
		}
	}
	&:hover{
		cursor: pointer;
	}
}

@media (max-width: 767px){
	.product-item{
		margin-bottom: 20px;
		margin-bottom: 30px;
		.product-text{
			position: relative;
			height: 170px;
			.product-text-content{
				top: 10px;
				bottom: 10px;
			}
			// height: auto;
			.product-subname{
				height: auto;
				font-size: 11px;
			}
		}
	}
}
