// bower:scss
// endbower

@import 'vars';


#products-page{
	padding-top: 83px;
	padding-bottom: 80px;
	overflow: hidden;

	.breadcrumb{
		position: fixed;
		top: 80px;
	}
	.filter-bar{
		position: fixed;
		top: 39px;
	}

	.cover-image{
		position: relative;
		opacity: 0;
		transition: opacity 1s;
		position: absolute;
		&.active{
			opacity: 1;
			position: relative;
		}
	}

	.no-results{
		position: relative;
		.no-results-content{
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			-webkit-transform: translate(0,-50%);
			-moz-transform: translate(0,-50%);
			-o-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			width: 100%;
			span{
				text-align: center;
				font-size: 18px;
				width: 100%;
				display: block;
			}
			button{
				display: block;
				margin: auto;
				margin-top: 14px;
				padding: 8px 16px;
				background-color: $main-red;
				border-radius: 0px;
				color: white;
				text-transform: uppercase;
			}
		}
	}

	.loader-container{
		opacity: 0;
		transition: opacity 1s;
		overflow: hidden;
		position: relative;
		&.inactive{
			height: 0px !important;
		}
		&.active{
			opacity: 1;
		}
		.loader{
			width: 150px;
			height: 150px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			font-size: 30px;
			color: #7D7B75;
			// background-color: #D2CEC4;
			border-radius: 4px;
			i{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -23px;
				margin-top: -23px;
			}
		}
	}
}


// PRODUCTS LIST
.products-list{
	margin-top: 17px;
	opacity: 0;
	transition: opacity 1s;
	&.active{
		opacity: 1;
	}
	img{
		width: 100%;
	}
	.product{
		margin-bottom: 40px;
	}
	.product-content{
		overflow: hidden;
		position: relative;
	}
	.color-palette{
		text-align: center;
		.color{
			width: 13px;
			display: inline-block;
			height: 13px;
			margin-left: 2px;
			margin-right: 2px;
		}
	}
	.band{
		font-family: $font-headers;
		text-transform: uppercase;
		color: white;
		text-align: center;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		position: absolute;
		top: 60px;
		right: -75px;
		width: 300px;
	}
	.hover-info{
		font-family: $font-captions;
		text-transform: uppercase;
		background-color: rgba($bg-yellow,0.6);
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.3s;
		&:hover{
			opacity: 1;
		}
		.price{
			font-size: 17px;
		}
		.name{
			font-size: 15px;
			font-weight: bold;
		}
		.type{
			font-size: 14px;
		}
		button{
			color: #fff;
			background-color: $main-red;
			border-color: #357ebd;
			border-radius: 0px;
			padding: 7px 4px;
			font-size: 12px;
			margin-top: 10px;
			padding-bottom: 5px;
			border: none;
		}
	}
}

div.category{
	margin-bottom: 20px;
	padding-bottom: 33px;
	display: inline;
	// border-bottom: 1px dotted #999;

	.before-cat-hidden,.after-cat-hidden{
		display: none;
	}
}


.category-item{
	font-family: $font-headers;
	margin-bottom: 20px;
	.category-image{
		padding-top: calc(100% + 50px);
		position: relative;
		background-size: cover;
		.category-name{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			text-transform: uppercase;
			color: white;
			font-weight: bold;
			text-align: center;
		}
		img{
			width: 100%;
		}
	}
	.category-bottom-bar{
		height: 100px;
		background-color: #191919;
		color: white;
		text-align: center;
		padding: 10px;
		.category-action{
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
			-moz-transform: translate(-50%,0);
			-o-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			text-transform: uppercase;
			letter-spacing: 1px;
			a{
				color: inherit;
			}
		}
	}
}

// LANDING PAGE
#products-page.landing-page{
	padding-top: 43px;
}

@media (max-width: 1024px){
	#products-page{
		padding-top: 48px;
	}
}

// MOBILE VERSION
@media (max-width: 767px){
	#products-page{
		padding-top: 0px;
		margin-top: -10px;
		.products-list{
			margin-top: 10px;
		}
		.category{
			border-bottom: none;
			.category-item{
				padding: 0px;
			}
			.after-cat-hidden{
				display: block;
			}
			.before-cat{
				display: none;
			}
		}

		.cover-image{
			img{
				height: 250px;
				width: auto;
				margin-left: -50%;
			}
		}
		.cover-title{
			h1{
				font-size: 30px;
			}
		}
	}
	#products-page.landing-page{
		padding-top: 13px;
		h1{
			font-size: 30px;
		}
	}
}
