// bower:scss
// endbower

@import 'vars';
@import 'main';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield;
}

$description-width: 350px;
			#productdescription::-webkit-scrollbar {
				// border-left:1px dotted #ddd;
				// border-radius:10px;
				// -webkit-box-shadow:0 0 6px gray inset;
				// width:15px;
				// background-color:transparent;
			} 
			#productdescription::-webkit-scrollbar-button:vertical:decrement {
			  // background-image: url(scrollbar/vertical-decrement-arrow.png);
			  // background-position: 3px 4px; 
			  font-family: fontello
			}
#product-page{
	@include scrollbars(.5em, #bbb);
	padding-top: 40px;
	overflow: hidden;

	i.icon-spin4{
		display: none;
	}
	img.loader{
		display: none;
	}

	.breadcrumb{
		position: fixed;
		top: 40px;
		background-color: rgba(255,255,255,0.7);
	}

	.header-bar{
		background: $product-black;
		margin-top: 1px;
		color: white;
		font-family: $font-captions;
		height: 50px;
		position: relative;

		.center{
			text-align: center;
			height: 100%;
			line-height: 50px;
			font-size: 18px;
			> * {
				display: inline-block;
			}
			.product-name{
				margin-right: 10px;
			}
		}
		.types-list{
			position: absolute;
			right: 0px;
			top: 0px;
			text-align: center;
			height: 100%;
			line-height: 52px;
			i{
				font-size: 26px;
				opacity: 0.8;
			}
		}
	}

	.product-content{
		margin-bottom: 0px;	
		position: relative;
		background: white;

		.description-tablet-landscape.product-detail{
			display: none;
		}

		.active-images{
			background: white;

			.first-image{
				position: relative;
				padding-top: 60%;
			}

			> div{
				padding: 0px;
				img{
					width: 100%;
					position: absolute;
					top: 0px;
				}
			}
		}
		.product-detail{
			background-color: #f4f4f4;
			background-color: white;
			transition: background-color 0.5s;
			color: black;
			font-family: $font-captions;
			text-align: center;
			position: absolute;
			right: 0px;
			top: 0px;
			bottom: 0px;
			// overflow: hidden;
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			// max-width: 400px;
			// right: 40px;
				.product-header{
					margin: auto;
					width: $description-width;
					border-bottom: 1px dotted #bbb;
					margin-bottom: 5px;
					position: relative;
					font-family: $font-headers;
					font-size: 16px;
					font-weight: bold;
					width: 100%;
					max-width: 400px;
					h1{
						font-size: 16px;
						text-transform: uppercase;
						display: inline-block;
						font-weight: bold;
						letter-spacing: 1px;
						margin-top: 42px;
					}
					.price{
						position: absolute;
						right: 0px;
						top: 40px;
						font-size: 16px;
						span{
							margin-left: 5px;
						}
					}
				}
			// .product-actions-container{
				.product-actions{
					flex-grow: 1;
					flex-grow: 0;
					// position: absolute;
					// bottom: 0px;
					width: 100%;
					padding-bottom: 20px;
					>*{
						// opacity: 0;
						transition: opacity 0.5s;
					}
					> .visible{
						opacity: 1;
					}
				}
			// }
			.product-description{
				.description-title{
					text-transform: uppercase;
					font-family: $font-headers;
					letter-spacing: 2px;
					font-size: 13px;
					font-size: 13px;
					margin-bottom: 5px;
					font-weight: bold;
				}
				width: 350px;
				margin: auto;
				flex-grow: 0;
				flex-shrink: 9999;
				overflow-y: auto;
				// opacity: 0;
				transition: opacity 0.5s;
			}

			//PRODUCT ACTIONS BOX
				.product-buttons{
					max-width: 250px;
					margin: auto;
					margin-top: 10px;
				}
				.product-features{
					padding: 0px;
					padding-top: 10px;
					border-top: 1px dotted #aaa;
					width: 350px;
					margin: auto;
					margin-top: 20px;
					border-bottom: 1px dotted #aaa;
					padding-bottom: 5px;
					li{
						list-style-type: none;
						text-transform: uppercase;
						font-family: $font-headers;
						font-size: 13px;
						letter-spacing: 1px;
					}
				}
				.material{
					font-size: 11px;
				}
				.carechart{
					font-family: $font-headers;
					.col-xs-6{
						padding-right: 5px;
						padding-left: 5px;
					}
					button{
						border-radius: 0px;
						background: transparent;
						border: 1px solid white;
						width: 100%;
						  height: 30px;
						  line-height: 0px;
					}
					button:hover{
						background: white;
						color: black;
					}
				}
				.color-palette,.sizes-list{
					margin-top: 15px;
					.color,.size{
						padding-left: 5px;
						padding-right: 5px;
						font-size: 8px;
						text-transform: uppercase;
						font-family: $font-headers;
						position: relative;
						float: none;
						margin: auto;
						display: inline-block;

						width: 41.666666px;
						height: 41.666666px;
						padding: 5px;

						&:hover{
							cursor: pointer;
						}

						opacity: 0.2;
						&.active, &:hover{
							opacity: 1;
						}

						&.selected > div{
							box-sizing: border-box;
						    border: 3px solid $main-red;
						    padding-bottom: calc(100% - 4px);
						}

						> div{
							border: 1px solid black;
							padding-bottom: calc(100% - 2px);
						}
						div{
							padding-bottom: 100%;
							height: 0px;
							span{
								position: absolute;
								padding: 10px;
								top: 50%;
								transform: translate(0,-50%);
								-webkit-transform: translate(0,-50%);
								-moz-transform: translate(0,-50%);
								-o-transform: translate(0,-50%);
								-ms-transform: translate(0,-50%);
								width: 100%;
								left: 0px;
								text-align: center;
							}
						}
					}
				}
				.sizes-list{
					margin-top: 0px;
					.size{
						font-size: 11px;
					}
				}

				.add-to-cart{
					margin-top: 10px;
					button{
						width: 100%;
						border-radius: 0px;
						background: #f1f1f1;
						background: white;
						color: $product-black;
						height: 60px;
						text-transform: uppercase;
						font-family: $font-headers;
						font-size: 18px;
						border: 1px solid black;
						height: 40px;
						background-color: black;
						color: white;
					}
				}
				.quantity-selector{
					margin-top: 0px;
					> div{
						width: 30px;
						height: 30px;
						background: white;
						color: $product-black;
						display: inline-block;
						margin: 10px 5px;
						vertical-align: middle;
						line-height: 29px;
						font-size: 14px;
						font-family: $font-headers;
						color: #0a0a0a;
						border: 1px solid black;
					}
					input{
						width: 30px;
						height: 30px;
						border: 1px solid black;
						text-align: center;
						background: transparent;
						margin: 3px;
					}
					.quantity-action:hover{
						cursor: pointer;
					}
					input:disabled{
						// background-color: #ccc;
						&:hover{
							cursor: default;
						}
					}
				}
				.comment{
					font-family: $font-headers;
					text-transform: uppercase;
					background: black;
					margin-top: 10px;
					background-color: white;
					text-transform: lowercase;
					color: #666;
					font-size: 13px;
				}

		}
	}

	.product-additional{
		padding: 10px;
		text-align: center;
		padding-bottom: 11%;
		padding-top: 0px;
		height: 0px;
		position: relative;
		.product-additional-content{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
		}
		.product-icons{
			font-size: 28px;
			opacity: 0.5;
		}
		.row{
			position: absolute;
			width: 100%;
			width: auto;
			left: 0%;
			top: 50%;
			transform: translate(0,-50%);
			-webkit-transform: translate(0,-50%);
			-moz-transform: translate(0,-50%);
			-o-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			top: 30px;

			position: static;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			-ms-transform: none;
		}
		.product-materials{
			font-family: $font-captions;
			font-size: 13px;
			margin: 10px;
			margin: 10px;
			color: #555;
			li{
				list-style-type: none;
				font-size: 12px;
			}
		}
		button{
			background-color: transparent;
			border: 2px solid #444;
			text-transform: uppercase;
			padding: 0px 7px;
			font-size: 13px;
			line-height: 26px;
			margin: 10px;
			margin-bottom: 0px;
			margin-top: 0px;
			width: 100px;
			font-family: $font-headers;
			transition: background-color $animation-time, color $animation-time;
			&:hover{
				cursor: pointer;
				background-color: black;
				color: white;
			}
		}
	}

	//RELATED ITEMS
	.other-items{
		.other-items-bar{
			font-family: $font-captions;
			// height: 40px;
			> div{
				color: white;
				background: black;
				font-size: 14px;
				line-height: 37px;
				text-align: center;
				&.active{
					background: white;
					color: black;
				}
				&:hover{
					cursor: pointer;
				}
			}			
		}
	}
}

#product-page.inactive{
	.product-content{
		.active-images{
			background-color: #f5f5f5;
		}
		.first-image{
			padding-top: 60%;
		}
		.product-detail{
			.product-header{
				margin-top: 0px;
				.price{
					display: none;
				}
			}
			.product-description{
				height: 50px;
				margin-top: 50px;
				.description-title{
					display: none;
				}
			}
			.product-actions{
				flex-grow: 0;
				.product-features{
					border: none;
				}
			}
		}
	}
	.other-items{
		min-height: 300px;
	}
	.product-additional{
		display: none;
	}

	i.icon-spin4,img.loader{
		display: block;
	}
	img.loader{
		width: 150px !important;
		position: absolute !important;
		left: 50% !important;
		top: 50% !important;
		transform: translate(-50%,-50%) !important;
		-webkit-transform: translate(-50%,-50%) !important;
		-moz-transform: translate(-50%,-50%) !important;
		-o-transform: translate(-50%,-50%) !important;
		-ms-transform: translate(-50%,-50%) !important;
	}

	.active-images i.icon-spin4{
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 50px;
		color: #ccc;
		margin-left: -35px;
		margin-top: -35px;
	}
	.product-description i.icon-spin4{
		position: absolute;
		top: 50%;
		left: 50%;
		color: #ccc;
		font-size: 18px;
		margin-left: -12px;
		margin-top: -49px;
	}
}	


@media (min-width: 769px) and (max-width: 1024px){
	#product-page{
		.product-additional{
			display: none;
		}
		.product-content.row{
			.product-detail{
				.product-features,.product-description{
					display: none;
				}
				.product-header{
					padding-top: 70px;
				}
			}
			.description-tablet-landscape.product-detail{
				flex: none;
				display: block;
				clear: both;
				padding-top: 30px;
				.product-additional,.product-features,.product-description{
					display: block;
					width: 33.33333%;
					border-bottom: 0px;
					border-top: 0px;
					// float: none;
					margin-top: 0px;
					padding-top: 0px;
				}
				.product-additional{
					.product-materials{
						margin: 0px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px){
	#product-page{
		padding-top: 0px;

		.product-content{
			margin-bottom: 0px;
			.product-detail{
				position: static;
				padding-bottom: 0px;
				.product-header{
					padding-top: 10px;
					h1{
						margin-top: 10px;
						margin-bottom: 5px;
					}
					span{
						position: static;
						display: block;
						font-size: 15px;
						opacity: 0.8;
						margin-bottom: 5px;
					}
					.price{
						position: static;
						padding: 5px;
						span{
							display: inline-block;
						}
					}
				}
				.product-description{
					width: 100%;
					i.icon-spin4{
						margin-top: -20px;
					}
				}
				.product-actions{
					.product-features{
						width: 100%;
					}
				}
			}
			.active-images > div{
				img{
					// width: 400px;
					// margin-left: calc(50% - 200px);
					width: 100%;
					margin-left: 0px;
				}
			}
		}

		.product-additional{
			background-color: white;
			border-top: 1px solid #ddd;
			padding-bottom: 50px;
			border-bottom: 1px solid black;
			height: auto;
			padding-bottom: 15px;
			.product-additional-content{
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
			}
		}

		.products-list{
			margin-top: 0px;
		}

		.product-additional-content.product-materials-div{
				top: 5px;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-ms-transform: none;
				-o-transform: none;
		}
	}
}

@media (max-width: 767px){
	#product-page .product-content .product-detail .product-description i.icon-spin4{
		display: none;
	}
	#product-page .other-items .other-items-bar > div{
		padding: 0px;
		font-size: 9px;
	}	
}