// bower:scss
// endbower

@import 'vars';

$main-red: #97191f;

.single-carousel{
	overflow: hidden;
	.control{
		z-index: 1;
	}
	.caption{
		a.read-more{
			background-color: black;
			padding: 8px 10px;
			color: white;
			text-transform: uppercase;
			font-size: 15px;
			margin-top: 10px;
			display: block;
			width: auto;
			display: inline-block;
			font-family: $font-headers;
			letter-spacing: 2px;

			font-size: 13px;
			padding: 8px 18px;
			padding-top: 0px;
			/* display: none; */
			background-color: transparent;
			// color: black;
			text-transform: none;
			font-weight: bold;
			font-family: ArvoRegular;
		}
	}
	.carousel-content{
		width: 100%;
		height: 100%;
	}
	.slide-container{
		position: relative;
		width: 100%;
		height: 100%;
		&:hover{
			cursor: pointer;
		}
	}
	.video{
		// position: absolute;
		// bottom: 50%; 
		// right: 50%;
		// -webkit-transform: translateX(-50%) translateY(-50%);
		// transform: translateX(-50%) translateY(-50%);
		// min-width: 100%; 
		// min-height: 100%; 
		// width: auto; 
		// height: auto;
		// z-index: -1000; 
		// overflow: hidden;

		video{
			width: 100%;
		}

		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		margin-top: -100px;
		margin-top: 0px;
	}
	.video-controls{
		> div{
			position: absolute;
			bottom: 20px;
			left: 65px;
			color: white;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
			-moz-transform: translate(-50%,0);
			-o-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			bottom: 120px;

			i{
				font-size: 24px;
				text-shadow: 0px 0px 2px black;
			}
		}
	}
	.page{
		position: absolute;
		width: 100%;
		z-index: 0;
		height: 100%;
		.slide{
			display: inline-block;
			height: 100%;
			width: 100%;
			background-size: cover;
		}
		&.current.ng-leave{
			transition: left 0.5s;
			left: 0px;
		}
		&.current{
			left: 0px;
		}
	}
	&.left .page{
		&.current.ng-leave-active{
			left: 100%;
		}
		&.current.ng-enter.ng-enter-active{
			left: 0px;
		}
		&.current.ng-enter{
			left: -100%;
			transition: left 0.5s;
		}
	}
	&.right .page{
		&.current.ng-leave-active{
			left: -100%;
		}
		&.current.ng-enter.ng-enter-active{
			left: 0px;
		}
		&.current.ng-enter{
			left: 100%;
			transition: left 0.5s;
		}
	}

	.slide-counter{
		position: absolute;
		bottom: 60px;
		width: 100%;
		text-align: center;
		.counter-item{
			width: 14px;
			height: 14px;
			background-color: white;
			display: inline-block;
			margin: 4px;
			&.active{
				background: $main-red;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	.discover-action{
		position: absolute;
		bottom: 15px;
		width: 31px;
		left: 50%;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		-ms-transform: translate(-50%,0);
		&:hover{
			cursor: pointer;
		}
	}

	img{
		width: 100%;
	}
}

//NON MOBILE MODE
@media (min-width: 768px){
	.single-carousel{
		.slide{
			.caption{
				background-image: none !important;
			}
		}
	}
}
//MOBILE MODE
@media (max-width: 767px){
	.single-carousel{
		// height: auto !important;
		.slide-counter{
			bottom: 40px;
			.counter-item{
				width: 18px;
				height: 18px;
				margin: 12px 4px;
			}
		}
		.control{
			display: none;
		}
		.page{
			position: static;
			&.current.ng-leave{
				transition: none;
			}
		}
		.slide-container{
			img{
				display: none;
			}
			.caption{
				background-size: cover !important;
				top: 0px !important;
				width: 100% !important;
				position: absolute !important;
				// z-index: 9999 !important;
				background-color: rgba(0,0,0,0.4) !important;
				padding: 20px !important;

				h2{
					font-size: 30px !important;
					margin-top: 25px !important;
				}

				p{
					font-size: 14px !important;
					color: #ddd !important;
				}

				a.read-more{
					margin-top: 0px;
				}
			}
		}
	}
}