// bower:scss
// endbower

@import 'vars';


#stories-page{
	padding-top: 40px;
	overflow: hidden;
	.breadcrumb{
		top: 40px;
		position: fixed;
	}
	.cover-image{
		position: relative;
		.cover-title{
			color: black;
			max-width: 800px;
			left: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			font-family: $font-captions;
		}
	}
	.stories-list{
		margin-top: 20px;
		img{
			width: 100%;
			// height: 230px;
		}
		a{
			color: inherit;
		}
		.story{
			text-align: center;
			padding-right: 7px;
			padding-left: 7px;
			width: 33.33%;
			margin-bottom: 35px;
			&:nth-child(3n+1){
				padding-left: 0px;
				padding-right: 14px;
			}
			&:nth-child(3n+3){
				padding-right: 0px;
				padding-left: 14px;
			}
			&:last-child{
				padding-left: 0px;
			}
			&.story.alone{
				margin-left: 33.33%;
			}
			.title{
				font-family: $font-headers;
				margin-top: 15px;
				text-transform: uppercase;
				font-size: 18px;
				height: 50px;
			}
			.story-image{
				width: 100%;
			    background-size: cover;
			}
			.story-image:before{
				content: "";
				display: block;
				padding-top: 65%; 	/* initial ratio of 1:1*/
			}
			.description{
				font-family: $font-captions;
			}
			.story-text{
				max-width: 340px;
				margin: auto;
			}
			.description{
				font-size: 15px;
			}
			.read-more{
				margin-top: 8px;
				text-decoration: underline;				
			}
		}

	}
}

body.stories{
	background: white;
}

@media (min-width: 768px){
	#stories-page{
		.cover-image{
			background: none !important;
		}
	}
}

@media (max-width: 767px){
	#stories-page{
		padding-top: 0px;
		.stories-list{
			.story{
				width: 100%;
				margin-bottom: 40px;
				padding: 0px;
			}
		}
		.cover-image{
			height: 200px;
			background-size: cover;
			img{
				display: none;
			}
			.cover-title{
				padding: 10px;
			}
		}
		.stories-list{
			.story:nth-child(3n+1){
				padding-right: 0px;
			}
			.story:nth-child(3n+3){
				padding-left: 0px;
			}
			.story.alone{
				margin-left: 33.33%;
			}
		}
	}
}