// bower:scss
// endbower

@import 'vars';

#storefinder-page{
	overflow: hidden;
	padding-top: 40px;
	.content{
		  // display: flex;
		  // flex-wrap: wrap;
		  > div{
		  	height: 650px;
		  	overflow: hidden;
		  }
	}
	.searchbox{
		background: black;
		color: white;
		text-align: left;
		text-align: left;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 16px;

		input{
			margin-top: 20px;
			margin-bottom: 20px;
			height: 40px;
			width: 100%;
			text-align: center;
			color: black;
		}
		.search-results{
			margin-top: 50px;
			font-size: 13px;

			.shop{
				padding-left: 0px;
				.image-container{
					padding-left: 0px;
				}
				.store-description{
					padding-left: 25px;
				}
				margin-bottom: 15px;
			}
		}
		.footer{
			width: 100%;
			width: 100%;
			position: static;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			-ms-transform: none;
			margin-top: 60px;
			font-size: 14px;
		}
		img{
			width: 100%;
			width: 50px;
		}

	}
	.gmap{
		padding-left: 0px;
		padding-right: 0px;
		.angular-google-map-container {
			height: 650px;
		}
	}
	.address-box{
		background: white;
		.box-content{
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			font-family: $font-captions;
			font-size: 19px;
			text-align: center;
			span{
				display: block;
			}
			.red{
				color: $main-red;
			}
			a{
				color: black;
			}
			.strong{
				font-size: 24px;
			}
			.footer{
				margin-top: 40px;
				font-size: 14px;
			}

		}
	}
	.image-box{
		img{
			height: 100%;
			margin-right: 0px;
			right: 0px;
			position: absolute;
			right: 0px;
		}
	}
}

@media(min-width: 768px){
	#storefinder-page{
		.image-box{
			background-image: none;
		}
	}
}

@media (max-width: 767px){
	#storefinder-page{
		padding-top: 0px;
		.content{
			> div{
				height: auto;
			}
		}
		.address-box{
			.box-content{
				position: static;
			    transform: none;
			    -webkit-transform: none;
			    -moz-transform: none;
			    -o-transform: none;
			    -ms-transform: none;
			    padding-top: 30px;
			    padding-bottom: 30px;
			}
		}
		.content > div.image-box{
			height: 300px;
			background-size: cover;
			img{
				display: none;
			}
		}
	}
}