// bower:scss
// endbower

@import 'vars';

#story-page{
	.breadcrumb{
		top: 40px;
	}
	.story-content{
		max-width: 700px;
		margin: auto;
		text-align: center;
		padding-top: 40px;
		font-family: $font-captions;
		font-size: 13px;
		strong{
			margin-bottom: 10px;
			margin-bottom: 15px;
			display: block;
			margin-top: 30px;
		}
		.authors{
			margin-top: 20px;
			margin-bottom: 30px;
		}
		.description{
			margin-bottom: 15px;
		}
		img{
			width: 100%;
			margin-top: 15px;
			margin-bottom: 20px;
		}
		.title{
			font-family: $font-headers;
			font-size: 28px;
  			text-transform: uppercase;
		}
		.social-share{
			width: 180px;
			margin: auto;
			margin-top: 20px;
			span{
				font-family: $font-headers;
				text-transform: uppercase;
				font-size: 16px;
				  margin-bottom: 5px;
				  display: block;
			}
			a{
				color: black;
			}
			a:hover{
				cursor: pointer;
			}
			i{
				font-size: 21px;
			}
			.separator{
				margin-top: 5px;
			}
		}
		.gallery{
			.gallery-item{
				display: inline-block;
				width: 33.333%;
				height: 100px;
				height: 233px;
				padding-right: 10px;
				padding-bottom: 10px;
				&:last-child{
					padding-right: 0px;
				}
				> div{
					height: 100%;
					background-size: cover;
				}
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}

@media (min-width: 768px){
	#story-page{
		.cover-image{
			background: none !important;
		}
	}
}

@media (max-width: 767px){
	#story-page{
		padding-top: 0px;
		.cover-image{
			height: 200px;
			background-size: cover;
			img{
				display: none;
			}
		}
		.story-content .gallery{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.story-content .gallery .gallery-item{
			height: auto;
			padding-bottom: 33%;
			position: relative;
			> div{
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}
	}
}