// bower:scss
// endbower

@import 'vars';

#work-page{
	padding-top: 40px;
	form{
		max-width: 500px;
		margin: auto;
	}
	select{
		border: 1px solid black;
		border-radius: 0px;
	}
	.row{
		margin-left: -1px;
	}
	.content{
		display: flex;
	}
	.text{
		max-width: 500px;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
	}
	.box.work-text{
		background: black;
		color: white;
	}
	.box{
		padding: 150px 50px;
		text-align: center;
		font-family: $font-captions;
		font-size: 18px;
		position: relative;
		.footer{
			width: 70%;
			bottom: 30px;
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
			-moz-transform: translate(-50%,0);
			-o-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
		}
		.title{
			width: 70%;
			position: absolute;
			top: 30px;
			font-family: $font-headers;
			text-transform: uppercase;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
			-moz-transform: translate(-50%,0);
			-o-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			font-size: 25px;
		}
		img{
			width: 100%;
		}
		p{
			margin-bottom: 20px;
		}
	}

}

@media (max-width: 767px){
	#work-page{
		padding-top: 0px;
		.content{
			display: block;
		}
		.box{
			padding: 30px 20px;
			.title{
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				margin: auto;
			}
			.text{
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
			}
			.footer{
				position: static;
				transform: none;
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				margin: auto;
				margin-top: 30px;	
			}
		}
		form{
			label{
				font-size: 14px;
				padding: 0px;
				padding-right: 5px;
			}
			.subscribe{
				input{
					float: left;
				}
				span{
					width: 135px;
				}
			}
		}
		.required{
			position: absolute;
			top: 10px;
		}
	}
}