doctype html
html
  head
    meta(charset='utf-8')
    meta(property="og:title", content="#{title}")
    meta(property="og:site_name", content="http://hideto.pedaled.com")
    meta(property="og:url", content="#{url}")
    meta(property="og:description", content="#{description}")
    meta(property="og:type", content="article")
    meta(property="og:image", content="#{image}")
    meta(property="og:image:width", content="400")
    meta(property="og:image:height", content="400")
    meta(property="og:locale", content="en_US")
    meta(property="article:author", content="224623274277253")
    meta(property="article:publisher", content="224623274277253")

    meta(name='description', content='#{description}')
    title #{title}
  body
