.row
	div(class="footer-column brand-info col-md-2 col-xs-12")
		img(src="/content/images/logo_02_2x.png")
		li.shipping-info 
			span
				strong Shipping Address
			span Via Vittorio Emanuele 119
			span 36050 Pozzoleone (VI)
			span ITALY
		li
			&copy; PEdAL ED 2015
		li
			span P.IVA. IT03766100246

	//- DESKTOP VERSION
	div(ng-repeat="column in footerColumns", class="footer-category-container footer-column {{footerColumnClasses}}")
		li.footer-category
			span {{column.title}}
		li(ng-repeat="item in column.items")
			a(ng-href="{{item.href}}", ng-attr-target="{{item.target}}") {{item.name}} 

	//- MOBILE VERSION
	.footer-categories-mobile
		div(ng-repeat="column in footerColumns", class="footer-category-mobile-container footer-column {{footerColumnClasses}}")
			li.footer-category
				span {{column.title}}
				select(onchange="selectChange")
					option(selected) {{column.title}}
					option(value="{{item.href}}", ng-repeat="item in column.items") {{item.name}}
			
	div(class="footer-column contact-us row {{footerColumnClasses}}")
		li.footer-category
			span contact us
		li
			span For all questions about orders or general enquiries please contact:
		li
			span Email
			a(href="mailto:info@pedaled.com") info@pedaled.com
		li
			span Telephone
			a(href="tel:+3900444461225") +3900444461225
		li
			span Office Hours GMT +1: Mon-Fri 9:30am-6.00pm
