nav.navbar.navbar-default(role='navigation')
    .container-fluid

            //- UPPER BLACK BAR
            .upper-black-bar
              h2.spinoff 
                a(href="/#!/") design for cycling
              .small-logo
                a(href="/#!/")
                  img(src="/content/images/logo_small.png")
              .pull-right
                //- custom message and user login trigger
                div.custom-message(ng-click="toggleInfoMenu()")
                  span(ng-bind-html="customMessage")
                  i.icon-icon_user

                .option-icons
                  //- choose currency
                  .currency(ng-click="currencyMenuActive=!currencyMenuActive")
                    .currency-icon-container
                      .currency-icon-inner-container
                        i.flag-icon(class="flag-icon-{{cartService.activeStore.code}}")
                    .currency-description-container
                      span {{cartService.activeStore.name}}
                      img.down-arrow(src="/content/images/arrow_down_white.png")
                    .currency-menu(ng-class="{'active':currencyMenuActive}",ng-mouseleave="currencyMenuActive=false")
                      li(ng-click="cartService.setActiveStore(store,true)",class="currency",ng-repeat="store in stores") 
                        i.flag-icon(class="flag-icon-{{store.code}}")
                        span {{store.name}}
                  //- cart icon
                  a(href="/#!/checkout/cart")
                    i.icon-icon_cart(ng-class="{'active': cartService.items.length}")

                  i.search-icon.icon-icon_search(ng-click="HeaderService.searchMenuActive=!HeaderService.searchMenuActive")
                    .search-menu(ng-click="$event.stopPropagation()", ng-class="{'active':HeaderService.searchMenuActive}")
                      .search-menu-content
                        form(ng-submit="search(searchText)")
                          input(set-focus="HeaderService.searchMenuActive", ng-model="searchText", type="text", placeholder="Search for products", autofocus)
                        i.icon-search

              //- CUSTOM MENUS (header collapsed mode)
              .menu-item.menu-dropdown(ng-repeat="menuItem in menu", ng-class="{'active':(menuItem.name==HeaderService.menuActive.name) && (HeaderService.menuVisible)}", ng-attr-style="background-color:{{menuItem.backgroundColor}}; color:{{menuItem.color}};")
                a.vertical-align.menu-link(ng-if="menuItem.link",ng-href="{{menuItem.link}}") {{menuItem.name}}
                a.vertical-align(ng-if="!menuItem.link", ng-mouseover="toggleMenu(menuItem)", ng-click="openLink(menuItem.mainLink)") {{menuItem.name}}

            //- USER/INFO MENU (with login/registration/newsletter)
            .info-menu(ng-class="{'inactive': !HeaderService.infoMenuVisible, 'active': HeaderService.infoMenuVisible, 'extended': HeaderService.activeBlock=='registration'}",ng-mouseleave="HeaderService.infoMenuVisible=false")
              .submenu-block(ng-repeat="block in infoMenu" class="{{block.class}}")
                div.block(ng-include="'/layout/templates/title.html'" ng-if="block.type=='description'")
                div.block(ng-include="'/layout/templates/social.html'" ng-if="block.type=='social'")
                div.block(ng-include="'/layout/templates/menu.html'" ng-if="block.type=='categoryList'")
                div.block(ng-include="'/layout/templates/shopall.html'" ng-if="block.type=='shopAll'")
                div.block(ng-include="'/layout/templates/emailsubscribe.html'" ng-if="block.type=='emailsubscribe'")
                div.block(ng-click="HeaderService.activeBlock='login'", ng-include="'/layout/templates/login.html'" ng-if="block.type=='registration'")
                div.block(ng-click="HeaderService.activeBlock='registration'", ng-include="'/layout/templates/registration.html'" ng-if="block.type=='login' && !security.isAuthenticated()")

            //- CUSTOM MENUS (header expanded mode)
            .main-menu
              .menu-items
                .menu-item.menu-dropdown(ng-repeat="menuItem in menu", ng-if="$index<menu.length/2", ng-class="{'active':(menuItem.name==HeaderService.menuActive.name) && (HeaderService.menuVisible)}", ng-attr-style="background-color:{{menuItem.backgroundColor}}; color:{{menuItem.color}};")
                  a.vertical-align.menu-link(ng-if="menuItem.link",ng-href="{{menuItem.link}}") {{menuItem.name}}
                  a.vertical-align(ng-mouseover="toggleMenu(menuItem,true)", ng-if="!menuItem.link",href="", ng-click="openLink(menuItem.mainLink)") {{menuItem.name}} 
                .logo 
                  a(href="/#!/")
                    img(src="/content/images/logo_01_2x.png")
                .menu-item.menu-dropdown(ng-repeat="menuItem in menu", ng-if="$index>=menu.length/2", ng-class="{'active':(menuItem.name==HeaderService.menuActive.name) && (HeaderService.menuVisible)}", ng-attr-style="background-color:{{menuItem.backgroundColor}}; color:{{menuItem.color}};")
                  a.vertical-align.menu-link(ng-if="menuItem.link",ng-href="{{menuItem.link}}") {{menuItem.name}}
                  a.vertical-align(ng-mouseover="toggleMenu(menuItem,true)", ng-if="!menuItem.link" href="" ng-click="openLink(menuItem.mainLink)") {{menuItem.name}}
                 
            //- FILTER BAR
            div(ng-show="commonData.header.filterBarVisible",filterbar, colors="colors", sizes="sizes", filters="commonData.productsFilters", searchtext="commonData.productsSearchText")
            //- BREADCRUMB
            div(ng-show="commonData.header.breadcrumbVisible",breadcrumb="commonData.header.breadcrumb")

#mobile-navbar
  .upper-black-bar
    .small-logo
      a(href="/#!/")
        img(src="/content/images/logo_small.png")
    .menu.pull-right(ng-click="commonData.mobileMenuActive=!commonData.mobileMenuActive")
      i.menu-icon.icon-menu
    .menu-content-container(adapt-to-window, max-height="true", offset-mult="1", offset="90", ng-class="{'active':commonData.mobileMenuActive, 'logged': security.isAuthenticated()}")
        .menu-content
          .option-icons

            .currency(ng-click="currencyMenuActive=!currencyMenuActive")
              .currency-icon-container
                .currency-icon-inner-container
                  i.flag-icon(class="flag-icon-{{cartService.activeStore.code}}")

                select(onchange="cartService.setActiveStoreId(store.id)", ng-model="store.id",ng-init="store.id=1")
                  option(value="{{store.id}}", ng-repeat="store in stores" ng-selected="cartService.activeStoreId==store.id") {{store.name}}

            a(href="/#!/checkout/cart")
              i.icon-icon_cart(ng-class="{'active': cartService.items.length}")
            i.icon-icon_find
          .menu-items
            .menu-item(ng-repeat="menuItem in menu")
              span.menu-item-name {{menuItem.name}}
              a(ng-href="{{menuItem.mobileLink}}",ng-show="menuItem.mobileLink")
              select(ng-if="!menuItem.mobileLink", onchange="selectChange")
                option(disabled, selected) Select an option
                option(value="{{menuItem.mainLink}}") {{menuItem.name}}
                option(value="{{block.href}}", ng-repeat="block in menuItem.submenu",ng-if="block.type=='categoryList' && block.name") {{block.name}}
          .user-logout(ng-show="security.isAuthenticated()")
            span {{security.user.email}}
            button.btn(ng-click="logout()") Logout
          div.social-icons.row
            div.col-xs-3
              a(href="https://www.facebook.com/PEDALED", target="_blank")
                i.icon-icon_facebook
            div.col-xs-3
              a(href="https://twitter.com/PEdALEDjapan", target="_blank")
                i.icon-icon_twitter
            div.col-xs-3
              a(href="https://instagram.com/pedaledjapan/", target="_blank")
                i.icon-icon_instagram
            div.col-xs-3
              a(href="http://pedaled-japan.tumblr.com/", target="_blank")
                i.icon-icon_tumbler
            div.col-xs-3
              a(href="https://it.pinterest.com/pedaled/", target="_blank")
                i.icon-icon_pinterest
            div.col-xs-3
              a(href="https://www.linkedin.com/company/pedaled", target="_blank")
                i.icon-icon_linkedin
            div.col-xs-3
              a(href="https://plus.google.com/u/0/+Pedaledlife", target="_blank")
                i.icon-icon_googleplus
            div.col-xs-3
              a(href="https://www.youtube.com/user/PEdALEDvideos", target="_blank")
                i.icon-icon_youtube


//- SUBMENU
#submenu(ng-mouseleave="toggleMenu()", ng-class="{'visible':HeaderService.menuVisible}",ng-attr-style="background-color:{{HeaderService.menuActive.backgroundColor}}; color:{{HeaderService.menuActive.color}};")
  .submenu-block(ng-if="!HeaderService.menuActive.link",ng-repeat="block in HeaderService.menuActive.submenu" ng-class="{'col-md-fraction-5':block.type=='description' || block.type=='social', 'col-md-fraction-8': block.type=='categoryListo', 'col-md-fraction-5': block.type=='categoryList' || block.type=='description' || block.type=='social'}")
    div.block(ng-include="'/layout/templates/title.html'" ng-if="block.type=='description'")
    div.block(ng-include="'/layout/templates/social.html'" ng-if="block.type=='social'")
    div.block(ng-include="'/layout/templates/menu.html'" ng-if="block.type=='categoryList'")
    div.block(ng-include="'/layout/templates/shopall.html'" ng-if="block.type=='shopAll'")
    div.block(ng-include="'/layout/templates/registration.html'" ng-if="block.type=='login'")
    div.block(ng-include="'/layout/templates/login.html'" ng-if="block.type=='registration'")


//- TEMPLATES FOR SUBMENU
script(type="text/ng-template" id="/layout/templates/emailsubscribe.html")
  div.block-container.subscribe-block
    .vertical-align
      span.description Subscribe to the newsletter
      form(ng-submit="newsletterSubscribe()")
        input(type="text",placeholder="Insert your email address",ng-model="newsletter.email")
        button.btn(ng-if="!newsletter.loading", type="submit") Subscribe
        button.btn(ng-if="newsletter.loading", disabled, type="submit") Subscribing
        span.validation-error {{newsletter.alertMessage}}


script(type="text/ng-template" id="/layout/templates/registration.html")
  div.block-container.subscribe-block
    .vertical-align
      span.pointer.description New Customer? Register here
      form.registration-form(ng-submit="register()", ng-class="{'active': HeaderService.activeBlock=='registration'}", class="toggle-content")
        input(type="text",placeholder="Email Address",ng-model="registrationInfo.email")
        input(type="password",placeholder="Password",ng-model="registrationInfo.password")
        input(type="password",placeholder="Confirm Password",ng-model="registrationInfo.confirmPassword")
        input(type="text",placeholder="First Name",ng-model="registrationInfo.firstname")
        input(type="text",placeholder="Last Name",ng-model="registrationInfo.lastname")
        button.btn(ng-if="registering", disabled, type="submit") Registering
        button.btn(ng-if="!registering", type="submit") Register
        label.validation-error {{registerError}}

script(type="text/ng-template" id="/layout/templates/login.html")
  div.block-container.subscribe-block.toggle-menu(ng-show="!security.isAuthenticated()")
    .vertical-align
      span.pointer.description Returning Customer
      form.registration-form(ng-submit="login()", ng-class="{'active': HeaderService.activeBlock=='login'}", class="toggle-content",id='loginForm')
        input(type="email",placeholder="Email Address",ng-model="login.email",name='email')
        input(type="password",placeholder="Password",ng-model="login.password",name='password')
        button.btn(disabled, ng-if="loggingIn", type="submit") Signing in...
        button.btn(ng-if="!loggingIn", type="submit") Sign in
        label.validation-error {{login.error}}
  div.block-container.subscribe-block.toggle-menu(ng-submit="logout()", ng-show="security.isAuthenticated()")
    .vertical-align
      span.pointer.description Logged As
      span.pointer.description.strong.login-name {{security.user.email}}
      //- form.registration-form(ng-class="{'active': HeaderService.activeBlock=='login'}", class="toggle-content")
      form.registration-form
        button.logout-button.btn(type="button" ng-click="gotoAccount()") Account
        button.btn(type="submit") Logout

script(type="text/ng-template" id="/layout/templates/title.html")
  div.block-container.title-block
    a.vertical-align(ng-href="{{block.link}}", ng-bind-html="block.text")
    //- div.vertical-align(ng-bind-html="block.text")

script(type="text/ng-template" id="/layout/templates/social.html")
  div.block-container.social-block
    .vertical-align
      div.follow-us-text FOLLOW US ON OUR SOCIAL CHANNELS
      div.social-icons.row
        div.col-xs-3
          a(href="https://www.facebook.com/PEDALED", target="_blank")
            i.icon-icon_facebook
        div.col-xs-3
          a(href="https://twitter.com/PEdALEDjapan", target="_blank")
            i.icon-icon_twitter
        div.col-xs-3
          a(href="https://instagram.com/pedaledjapan/", target="_blank")
            i.icon-icon_instagram
        div.col-xs-3
          a(href="http://pedaled-japan.tumblr.com/", target="_blank")
            i.icon-icon_tumbler
        div.col-xs-3
          a(href="https://it.pinterest.com/pedaled/", target="_blank")
            i.icon-icon_pinterest
        div.col-xs-3
          a(href="https://www.linkedin.com/company/pedaled", target="_blank")
            i.icon-icon_linkedin
        div.col-xs-3
          a(href="https://plus.google.com/u/0/+Pedaledlife", target="_blank")
            i.icon-icon_googleplus
        div.col-xs-3
          a(href="https://www.youtube.com/user/PEdALEDvideos", target="_blank")
            i.icon-icon_youtube

script(type="text/ng-template" id="/layout/templates/menu.html")
  div.block-container.menu-block
    span.category-title(ng-if="!block.icon") {{block.name}}
    i(class="{{block.icon}}",ng-if="block.icon")

    div.category-links
      a.link(ng-repeat="link in block.links",ng-href="{{link.href}}") {{link.name}}

script(type="text/ng-template" id="/layout/templates/shopall.html")
  div.block-container.menu-block.shop-all
    a.link(href="#!/products") Shop All


