.alert.alert-message(ng-class='{"active":message.name}')
	.product-description
		.image(ng-attr-style="background-image: url('{{message.image}}')")		
		span {{message.name}}
		span.desc was added to your cart
		.price
			span(ng-bind-html="cartService.defaultCurrency.symbol")
			span {{message.price}}
	.cart-action
		.subtotal
			span.label Subtotal:
			.value
				span {{message.subTotal}}
				span(ng-bind-html="cartService.defaultCurrency.symbol")
		a(href="/#!/checkout/cart/") Go to Cart