.category-item.col-md-3()
  a(ng-href='/#!/category/{{category.name}}')
      .category-image(ng-attr-style='background-image: url("{{category.image}}")')
        h3.category-name {{category.name}}
  a(ng-href='/#!/category/{{category.name}}')
      .category-bottom-bar
        p.category-description {{category.description}}
        .category-action Shop All
