video(autoplay,loop,muted)
	source(ng-src="{{videosrc}}")
.video-controls
	.mute(ng-click="toggleVolume(); $event.stopPropagation();", ng-show="muted")
		i.icon-volume-mute
	.unmute(ng-click="toggleVolume(); $event.stopPropagation();", ng-show="!muted")
		i.icon-volume-up
