.filter-bar
	//- SEARCH TEXT FILTER
	.filter-block.text-filter(ng-class="{'filtering': searchtext}")
		input(type="text", ng-model="searchtext", placeholder="Search a product")
		i.icon-search

	//- COLOR FILTER
	.filter-block(ng-mouseleave="toggleFilterMenu()", ng-click="toggleFilterMenu('color')", ng-class="{'filtering': filters.color.id}")
		span.filter-title Color
		img(src="/content/images/arrow_down_black.png")
		.filter-menu(ng-class="{'active':activeMenu=='color'}")
			.filter-menu-content
				.color(ng-click="filters.color=color", ng-class="{'active':color.id==filters.color.id}", ng-repeat="color in colors", ng-attr-style="background: {{color.label}}")
				button.btn.btn.default(ng-click="resetFilter('color')") Clear Filter

	//- SIZE FILTER
	.filter-block(ng-mouseleave="toggleFilterMenu()", ng-class="{'filtering': filters.size.id}", ng-click="toggleFilterMenu('size')")
		span.filter-title Size
		img(src="/content/images/arrow_down_black.png")
		.filter-menu(ng-class="{'active':activeMenu=='size'}")
			.filter-menu-content
				.size(ng-click="filters.size=size", ng-class="{'active':size.id==filters.size.id}", ng-repeat="size in sizes", ng-attr-style="background: {{size.label}}")
					span {{size.label}}
				button.btn.btn.default(ng-click="resetFilter('size')") Clear Filter

	//- CLEAR FILTER BUTTON
	.filter-block.filter-button-container
		button.btn.btn.default(ng-click="resetFilter()") Clear Filters
