.gallery
	ng-transclude
	.gallery-container(ng-class="{'active': active}")
		.img(ang-attr-style="background-image: url('{{activeItem.big}}')")
			img(ng-src="{{activeItem.big}}")
		button.btn.close-button(ng-click="active=false") +
		.control.left-control(ng-show="items.length>1",ng-click='slideLeft()')
			i.glyphicon.glyphicon-chevron-left
		.control.right-control(ng-show="items.length>1",ng-click='slideRight()')
			i.glyphicon.glyphicon-chevron-right
