.gallery
	ng-transclude
	.gallery-container(ng-class="{'active': active}")
		.img(ang-attr-style="background-image: url('{{items[activeIndex]}}')")
			img(ng-src="{{items[activeIndex]}}")
		button.btn.close-button(ng-click="active=false") +
