.multi-carousel.row(ng-attr-style='height: {{carouselHeight}}px;')
	.control.left-control(ng-click='slideLeft()', ng-attr-style='width:{{slideLength}}px;')
		i.icon-icon_freccia
	.control.right-control(ng-click='slideRight()', ng-attr-style='width:{{slideLength}}px;')
		i.icon-icon_freccia
	.carousel-content(ng-attr-style="left: {{carouselPosition}}px")
		.carousel-container
			.slides-left-container
				.slide(ng-click='activeImage.url = slide.image', ng-attr-style='background-image:url("{{slide.image}}"); width:{{slideLength}}px; height:{{slideHeight}}px;', ng-repeat='slide in leftSlides')
			.slides-right-container
				.slide(ng-click='activeImage.url= slide.image', ng-attr-style='background-image:url("{{slide.image}}"); width:{{slideLength}}px; height:{{slideHeight}}px;', ng-repeat='slide in rightSlides')
