.popover-background
	.popover-content(ng-class="{'subscribed': subscribed}")
		.close-button(ng-click="closed=true") 
			span +
		.description Stay up to date on the latest product release , special offers & PEDAL ED news by signing up for our newsletter.
		form(ng-submit="subscribe()")
			input.text(ng-show="!subscribed", type="text",placeholder="your email", ng-model="email")
			button.btn(ng-if="!subscribing && !subscribed", type="submit") Subscribe
			button.btn(ng-if="subscribing && !subscribed", type="submit") Subscribing
			span.alert-message {{alertMessage}}
		.promise we promise not to bother you too often and if you find it too overwhelming you can unsubscribe any time
