.product-item(ng-click="openProductColor(activeColor)")
  .product-image(ng-attr-style='background-image: url("{{product.gallery[activeImageIndex]}}")')
  .product-text
    .product-text-content
      h4.product-name {{product.name}} 
      span.product-subname(ng-bind-html="product.short_description")
      .color-palette(ng-show="!forceGalleryColor")
        .color(ng-click="openProductColor(color)", ng-show="product.color.length", ng-mouseover="changeColor(color)", ng-repeat='color in product.color', ng-attr-style='background: {{color.label}};')  
        .color(ng-click="openProductColor(product.color)", ng-show="product.color.label", ng-attr-style='background: {{product.color.label}};')  
      .price
          span(ng-bind-html="cartService.defaultCurrency.symbol")
          span {{product.price}}
