.single-carousel.row(ng-attr-style='height: {{height}}px')
  .control.left-control(ng-show="slides.length>1",ng-click='slideLeft()')
    i.glyphicon.glyphicon-chevron-left
  .control.right-control(ng-show="slides.length>1",ng-click='slideRight()')
    i.glyphicon.glyphicon-chevron-right
  .carousel-content
    .page.current(ng-repeat='page in slidesPages')
      .slide-container(ng-click="openLink(page[0].link)")
        .slide(ng-show="!slide.video", style='width: 100%;', ng-repeat='slide in page', ng-attr-style='background-image:url("{{slide.image}}");')
        .caption(ng-click="openLink(page[0].link)", ng-attr-style='color: {{page[0].caption.color}}; background-color: transparent; top: {{page[0].caption.top}}; width: {{page[0].caption.width}}', ng-class="{\'horizontal-align\':page[0].caption.horizontalAlign}")
          h2 {{page[0].caption.title}}
          p {{page[0].caption.text}}
          a.read-more(ng-show="page[0].caption.readMore", ng-href='{{page[0].link}}') read more >>
        .video(custom-video, ng-show="page[0].video", videosrc="page[0].video", autoplay, loop, muted)

  .slide-counter
    .counter-item(ng-click='changePageAnimated($index)', ng-repeat='counter in slides', ng-class="{\'active\': $index==currentPage}")
  .discover-action(ng-click='scrollDown()')
    img(src='/content/images_api/arrow_down_red.png')