doctype html
html.no-js(ng-app='app')
  head
    title We make the garments, You decide how to Live and Ride with them | PEdAL ED
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(name='fragment', content='!')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    
    <!-- SEO dynamic tags -->
    <meta name="title" content="{{seoMeta.title}}">
    <meta name="description" content="{{seoMeta.description}}">
    <meta name="keywords" content="{{seoMeta.keywords}}">
    <meta http-equiv="content-language" content="{{seoMeta.contentLanguage}}">

    <!-- SEO static tags -->
    <meta name="author" content="Crispy Bacon s.r.l. (Filippo Zonta, Manuel Visentin)">
    //- <meta name="copyright" content="PEdAL ED">
    //- <meta http-equiv="Reply-to" content="info@pedaled.com">
    <meta http-equiv="Content-Type" content="UTF-8">
    <meta name="ROBOTS" content="INDEX,FOLLOW">

    <!-- OG tags -->
    meta(property="og:url" content="{{ogMeta.url}}")
    meta(property="og:title" content="{{ogMeta.title}}")
    meta(property="og:description" content="{{ogMeta.description}}")
    meta(property="og:type" content="{{ogMeta.type}}")
    meta(property="og:image" content="{{ogMeta.image}}")

    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700', rel='stylesheet', type='text/css')

    // build:css(.) styles/vendor.css 
    // bower:css 
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/flag-icon-css/css/flag-icon.min.css')
    // endbower 
    // endbuild 

    // build:css(.tmp) styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/home.css')
    link(rel='stylesheet', href='styles/header.css')
    link(rel='stylesheet', href='styles/fonts.css')
    link(rel='stylesheet', href='styles/fontello.css')
    link(rel='stylesheet', href='styles/footer.css')
    link(rel='stylesheet', href='styles/products.css')
    link(rel='stylesheet', href='styles/product.css')
    link(rel='stylesheet', href='styles/productItem.css')
    link(rel='stylesheet', href='styles/multislider.css')
    link(rel='stylesheet', href='styles/singlecarousel.css')
    link(rel='stylesheet', href='styles/stories.css')
    link(rel='stylesheet', href='styles/story.css')
    link(rel='stylesheet', href='styles/faq.css')
    link(rel='stylesheet', href='styles/work.css')
    link(rel='stylesheet', href='styles/account.css')
    link(rel='stylesheet', href='styles/contact.css')
    link(rel='stylesheet', href='styles/instagram.css')
    link(rel='stylesheet', href='styles/storefinder.css')
    link(rel='stylesheet', href='styles/breadcrumb.css')
    link(rel='stylesheet', href='styles/filterbar.css')
    link(rel='stylesheet', href='styles/popover.css')
    link(rel='stylesheet', href='styles/checkout.css')
    link(rel='stylesheet', href='styles/about.css')
    link(rel='stylesheet', href='styles/gallery.css')
    link(rel='stylesheet', href='styles/alert.css')
    link(rel='stylesheet', href='styles/animation.css')
    // endbuild 


  body(class='{{getBodyClass()}}', ng-controller='Body', ng-strict-di)
    //-if lt IE 7
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    
    //- ******
    //- SITE CONTENT
    //- ******
    #popover(popover,ang-if="siteLoadCounter<=popoverTimes",closed="popoverClosed",ng-class="{'active':!popoverClosed}")
    #header(detect-scrolled='', shrinked='commonData.header.shrinked', top='200', ng-include="'layout/header.html'", ng-controller='Header')
    #container(ng-view='')
    #footer(ng-include="'layout/footer.html'", ng-controller='Footer')
    alert-cart(message='alertService.lastMessage')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51800831-1');
      ga('send', 'pageview');

    // build:js(.) scripts/vendor.js 
    // bower:js 
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-translate/angular-translate.js')
    script(src='bower_components/angular-mocks/angular-mocks.js')
    script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
    script(src='bower_components/js-data/dist/js-data.js')
    script(src='bower_components/js-data-angular/dist/js-data-angular.js')
    // endbower 
    // endbuild 
    //- <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    //- <script src="bower_components/moment/moment.js"></script>
    //- <script src="bower_components/angular-moment/angular-moment.js"></script>

    // build:js({.tmp,app}) scripts/scripts.js 
    script(src='app.module.js')
    script(src='app.routes.js')
    script(src='app.routes.init.js')
    script(src='app.config.js')
    script(src='app.run.js')
    script(src='layout/header.controller.js')
    script(src='layout/footer.controller.js')
    script(src='layout/body.controller.js')
    script(src='pages/home.controller.js')
    script(src='pages/products/products.controller.js')
    script(src='pages/products/product.controller.js')
    script(src='pages/products/category.controller.js')
    script(src='pages/products/landingPage.controller.js')
    script(src='pages/stories.controller.js')
    script(src='pages/story.controller.js')
    script(src='pages/faq.controller.js')
    script(src='pages/work.controller.js')
    script(src='pages/contact.controller.js')
    script(src='pages/instagram.controller.js')
    script(src='pages/storefinder.controller.js')
    script(src='pages/account.controller.js')
    script(src='pages/about.controller.js')
    script(src='pages/checkout/cart.controller.js')
    script(src='pages/checkout/signin.controller.js')
    script(src='pages/checkout/menu.controller.js')
    script(src='pages/checkout/billing.controller.js')
    script(src='pages/checkout/shipping.controller.js')
    script(src='pages/checkout/review.controller.js')
    script(src='pages/checkout/complete.controller.js')
    script(src='pages/checkout/paypalCallback.controller.js')
    script(src='languages/languages.config.js')
    script(src='languages/langdetect.run.js')
    script(src='filters/product.filter.js')
    script(src='filters/productText.filter.js')
    script(src='filters/escape.filter.js')
    script(src='log/log.http-interceptor.js')
    script(src='log/log.service.js')
    script(src='models/angulardata.config.js')
    script(src='models/product.model.js')
    script(src='models/category.model.js')
    script(src='models/color.model.js')
    script(src='models/size.model.js')
    script(src='models/instagram.model.js')
    script(src='security/auth.http-interceptor.js')
    script(src='security/auth.routes.js')
    script(src='security/security.service.js')
    script(src='services/commonData.service.js')
    script(src='services/langUtils.service.js')
    script(src='services/utils.service.js')
    script(src='services/utilsUI.service.js')
    script(src='services/cart.service.js')
    script(src='services/header.service.js')
    script(src='services/alert.service.js')
    script(src='services/newsletter.service.js')
    script(src='components/multislider.directive.js')
    script(src='components/slider.directive.js')
    script(src='components/detectScrolled.directive.js')
    script(src='components/productItem.directive.js')
    script(src='components/categoryItem.directive.js')
    script(src='components/breadcrumb.directive.js')
    script(src='components/filterbar.directive.js')
    script(src='components/popover.directive.js')
    script(src='components/onchangeEvent.directive.js')
    script(src='components/adaptToWindow.directive.js')
    script(src='components/gallery.directive.js')
    script(src='components/genericgallery.directive.js')
    script(src='components/compilehtml.directive.js')
    script(src='components/alertCart.directive.js')
    script(src='components/customVideo.directive.js')
    script(src='components/setFocus.directive.js')
    script(src='components/isMobile.min.js')
    //- ADDITIONAL SCRIPTS TO BE INJECTED BY grunt-sails-linker
    // SCRIPTS
    // SCRIPTS END 
    // endbuild 
    //- // <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    script(src='content/cookie/cookieBanner.js')
