#about-page
	.first-page.page(adapt-to-window)
		.page-content(ng-attr-style="background-image: url('{{pages[0].image}}')")
			.title.col-md-6
				span {{pages[0].title}}
			img.arrow-down(src='/content/images/arrow_down_black_bold.png')
	.second-page.page(adapt-to-window)
		.page-content(ng-attr-style="background-image: url('{{pages[1].image}}')")
			.column.col-md-3(ng-repeat="column in pages[1].columns") 
				span(ng-bind-html="column")
	.third-page.page(adapt-to-window)
		.page-content(ng-attr-style="background-image: url('{{pages[2].image}}')")
			.text.col-md-6
				span(ng-bind-html="pages[2].text")
			.title.col-md-6
				span(ng-bind-html="pages[2].title")
	.fourth-page.page(adapt-to-window)
		.page-content(ng-attr-style="background-image: url('{{pages[3].image}}')")
			.title.col-md-6
				span(ng-bind-html="pages[3].title")
			.text.col-md-6
				span(ng-bind-html="pages[2].text")
