#account-page
	.black-bar.center
		span.title My account
		button.btn(ng-click="logout()") Log Out
	.row.content.account-row(ng-class="{'active':allOperationDone}" ng-show="allOperationDone")
		.orders.col-xs-12.col-md-6.box
			.title My orders
			.subtitle Order Archive
			table.table
				thead
					th Date
					th Order No.
					th Amount
					th Status
					th Promocode
				tbody(ng-repeat="order in orderHistory")
					tr
						td {{order.created_at | date:'dd/MM/yy'}}
						td {{order.increment_id}}
						td {{order.grand_total | number : 2}} {{order.symbol}} 
						td {{order.status}}
						td {{order.coupon_code}}
		.work-form.col-xs-12.col-md-6(style="padding-bottom: 26px")
			form(ng-submit="updateCustomer()")
				.title Account Information
				span.required *required Fields
				.form-group
					label.col-xs-3 Email*
					input.col-xs-9.form-control(type="email",ng-model="customerInfo.email") 
				.form-group
					label.col-xs-3 Name*
					input.col-xs-9.form-control(type="text",ng-model="customerInfo.firstname") 
				.form-group
					label.col-xs-3 Last Name*
					input.col-xs-9.form-control(type="text",ng-model="customerInfo.lastname") 
				.form-group.row
					label.col-xs-3 Date of Birth
					input.col-xs-3.form-control(type="text", ng-model="customerInfo.day",placeholder="dd",maxlength="2") 
					input.col-xs-3.form-control(type="text", ng-model="customerInfo.month",placeholder="mm",maxlength="2") 
					input.col-xs-3.form-control(type="text", ng-model="customerInfo.year",placeholder="yyyy",maxlength="4") 
				.form-group.row.gender
					label.col-xs-3 Gender
					input(type="checkbox", ng-model="customerInfo.gender",ng-true-value="1", ng-false-value="0",ng-checked="customerInfo.gender == 1")
					| Male
					input(type="checkbox", ng-model="customerInfo.gender",ng-true-value="0", ng-false-value="1",ng-checked="customerInfo.gender == 0")
					| Female
				hr
				.form-group.row
					.title.row Change your Password
					label.col-xs-3 Current
					input.col-xs-9.form-control(type="password",placeholder="Must enter your current password", ng-model="customerInfo.oldPassword")
					label.col-xs-3 New
					input.col-xs-9.form-control(type="password",placeholder="Must be min 8 characters long",ng-model="customerInfo.newPassword")
					label.col-xs-3 Confirm
					input.col-xs-9.form-control(type="password",placeholder="Re-type your password",ng-model="customerInfo.newPassword2")
				hr
				.form-group.subscribe.col-xs-9.col-xs-offset-3
					.title Subscribe to Newsletter
					.form-group.row.row-subscribe
						input(type="checkbox",ng-model='wantToSubscribe')
						span Subscribe to PEdAL ED Newsletter. I accept the Subscription Terms.
				.form-group.subscribe.col-xs-9.col-xs-offset-3.form-save-account
					button.btn.save-account.account(type='submit') Update account
					label.validation-error-account {{messageValidation}} {{loading}}
					i.icon-spin4.animate-spin(ng-show="loadingUpdateAccount")
		.helpdesk.col-xs-12.col-md-6.box
			//- .title Help desk
			//- .subtitle My support Tickets
			//- .no-tickets You have submitted no tickets
			//- hr
			//- .new-ticket Create New Tickets
			//- form
			//- 	span.required *required Fields
			//- 	.form-group
			//- 		label.col-xs-4 Subject*
			//- 		input.col-xs-8.form-control(type="text") 
			//- 	.form-group
			//- 		label.col-xs-4 Department*
			//- 		input.col-xs-8.form-control(type="text") 
			//- 	.form-group
			//- 		label.col-xs-4 Assign Order*
			//- 		input.col-xs-8.form-control(type="text") 
			//- 	.form-group
			//- 		label.col-xs-4 Priority*
			//- 		input.col-xs-8.form-control(type="text") 
			//- 	.form-group.row
			//- 		label.col-xs-4 Message*
			//- 		textarea.col-xs-8(rows="4")
			//- 	.form-group.row.file-upload
			//- 		label.col-xs-3 Attachment
			//- 		.col-xs-9
			//- 			button.btn Choose a file to upload
			//- 			span.no-file No file chosen yet
			//- 	.submit
			//- 		button.btn Submit new Tickets
			//- 		hr
		.address-book.box.col-xs-12.col-md-6
			.title Address Book
			.subtitle Default billing address
			.default-address(ng-hide='changingBillingAddress || !defaultBillingAddress')
				li {{defaultBillingAddress.firstname}} {{defaultBillingAddress.lastname}}
				li {{defaultBillingAddress.street}}
				li {{defaultBillingAddress.city}}, {{defaultBillingAddress.postcode}}
				li {{defaultBillingAddress.country}} ({{defaultBillingAddress.country_id}})
				li T: {{defaultBillingAddress.telephone}}

			button.btn(ng-click="changingBillingAddress = !changingBillingAddress") Change billing address

			//-  Form mostrato se si clicca
			form(ng-submit="billingSubmit()", ng-show='changingBillingAddress', no-validate)
				.form-group.row
					label.col-xs-3 First Name
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.firstname")
				.form-group.row
					label.col-xs-3 Last Name
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.lastname")
				.form-group.row
					label.col-xs-3 Company
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.company")
				.form-group.row
					label.col-xs-3 Address
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.street")
				.form-group.row
					label.col-xs-3 City
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.city")
				.form-group.row
					label.col-xs-3 Country
					select.col-xs-9.form-control(ng-options="country.country_id as country.name for country in countryCodes", ng-model="defaultBillingAddress.country_id",ng-change="updateLabelFiscalCode()")
				.form-group.row
					label.col-xs-3.row {{labelFiscalCodeBilling}}
					//- h4 {{billing_address.country_id}
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.vat_id")
					//- label.col-xs-3.required(ng-show="defaultBillingAddress.country_id=='IT'")
				.form-group.row
					label.col-xs-3 Postal Code
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.postcode")
				.form-group.row
					label.col-xs-3 Telephone
					input.col-xs-9.form-control(type="text", ng-model="defaultBillingAddress.telephone")
				.form-group.subscribe.col-xs-12.form-save-account
					button.btn.save-account(type="submit") Save
					i.icon-spin4.animate-spin.loading-shipping(ng-show="loadingUpdateBilling")
					span.validation-error-shipping {{messageBillingValidation}}
				
				hr.hr-address
				
			.subtitle Default Shipping address
			.default-address(ng-hide='changingShippingAddress || !defaultShippingAddress')
				li {{defaultShippingAddress.firstname}} {{defaultShippingAddress.lastname}}
				li {{defaultShippingAddress.street}}
				li {{defaultShippingAddress.city}}, {{defaultShippingAddress.postcode}}
				li {{defaultShippingAddress.country}} ({{defaultShippingAddress.country_id}})
				li T: {{defaultShippingAddress.telephone}}
				
			button.btn(ng-click="changingShippingAddress = !changingShippingAddress") Change Shipping address

				//-  Form mostrato se si clicca
			form(ng-submit="shippingSubmit()", ng-show='changingShippingAddress', no-validate)
				.form-group.row
					label.col-xs-3 First Name
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.firstname")
				.form-group.row
					label.col-xs-3 Last Name
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.lastname")
				.form-group.row
					label.col-xs-3 Company
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.company")
				.form-group.row
					label.col-xs-3 Address
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.street")
				.form-group.row
					label.col-xs-3 City
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.city")
				.form-group.row
					label.col-xs-3 Country
					select.col-xs-9.form-control(ng-options="country.country_id as country.name for country in countryCodes", ng-model="defaultShippingAddress.country_id",ng-change="updateLabelFiscalCode()")
				.form-group.row
					label.col-xs-3.row {{labelFiscalCodeShipping}}
					//- h4 {{billing_address.country_id}
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.vat_id")
					//- label.col-xs-3.required(ng-show="defaultBillingAddress.country_id=='IT'")
				.form-group.row
					label.col-xs-3 Postal Code
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.postcode")
				.form-group.row
					label.col-xs-3 Telephone
					input.col-xs-9.form-control(type="text", ng-model="defaultShippingAddress.telephone")
				
				.form-group.subscribe.col-xs-12.form-save-account
					button.btn.save-account(type="submit") Save
					i.icon-spin4.animate-spin.loading-shipping(ng-show="loadingUpdateShipping")
					span.validation-error-shipping {{messageShippingValidation}}

				hr.hr-address

	.loader-container(adapt-to-window, ng-show="!allOperationDone")
		img.loader.loader-account(src="/content/images/spinner_pedaled.gif")
