#contact-page
	//- .black-bar.center
		span.title Contact
	.row.content
		.contact-form.col-xs-12.col-md-6.box
			.title Contact Form
			span.required *required Fields
			form
				.form-group
					label.col-xs-3 e-mail*
					input.col-xs-9.form-control(type="email") 
				.form-group
					label.col-xs-3 Name*
					input.col-xs-9.form-control(type="text") 
				.form-group
					label.col-xs-3 Last Name*
					input.col-xs-9.form-control(type="text") 
				.form-group.row
					label.col-xs-3 Phone*
					input.col-xs-9.form-control(type="text") 
				hr
				.form-group.row
					label.col-xs-3 Subject*
					select.form-control.col-xs-9
						option(value="Shipping") Shipping 
						option(value="Return") Return 
				.form-group.row
					label.col-xs-3 Message*
					textarea.col-xs-9(rows="4")
				.form-group.attachments.row
					label.col-xs-3 Attachments
					.col-xs-9
						button.btn.btn-default Choose a file to upload
						span.no-file No file chosen
				hr
				.form-group.subscribe.col-xs-9.col-xs-offset-3
					.title Subscribe to Newsletter
					input(type="checkbox")
					span Subscribe to PEdAL ED Newsletter. I accept the Subscription Terms.
		.old-school.col-xs-12.col-md-6.box
			.title Old School Contact form
			.text
				p Should you have further questions you may contact us by phone at +39 0444 461225
				p 9 am - 12 am and 1 pm - 5 pm GMT+1
			.footer Address: Via V.Emanuele 119.<br>36050 Pozzoleone, VI, Italy +39 0444 462025
		.front-image.row.col-xs-12
			img(src="/content/images/contact/pedaled1.jpg")





