#faq-page
	.black-bar.center
		span.title FAQ | Shipping | Returns & Exchange | Terms & Conditions
	.row.content
		#shipping.shipping.col-xs-12.col-md-6.box
			.title Shipping
			.text
				p All our orders (except for promotions) are *shipped to all Europe Countries (Switzerland included) for free.
				p All product orders placed before 0:00 p.m. GMT+1 on business days, Monday thru Friday (excluding federal holidays) will ship in 7 working days.<br>Most of the time we are able to ship in less days but we take a safe amount of time.
				p Should you wish to check the status of your shipment, feel free to write us here and we will send you the tracking number once shipping has been arranged.
		#payment.payment.col-xs-12.col-md-6.box
			.title Payment & Security
			.text
				p Your credit card will be charged in Euro, as the shipping occours from Brooks England srl in Italy.
				p Payments of online orders will be processed through Paypal and Authorize.Net, a secure online payment gateway. We suggest that you print out a copy of your online order, as it contains useful information you may need in case of communication with BROOKS ENGLAND srl.
				p Your credit card will be charged only once your purchase has been shipped.
		#returns.returns.col-xs-12.col-md-6.box
			.title Returns & Exchange Policy
			.text
				p At PEdAL ED, we create products that help you live and ride better.<br>As we want you to be as passionate about your product purchased at our e-store, if one of our garment fails to satisfy you -- for any reason -- please return your order within 15 days of the shipping date for a full refund.<br>The only restrictions are the following:
				p - the product has not been used, manipulated or damaged<br>-the product must be sent back with its original packaging
				p We will refund you the cost of the product, excluding all shipping costs and duty. Before making a return, please provide written notification explaining the reason for your return by sending an email to sales@pedaled.com
				p Your return will be processed within 10-15 business days of receipt at our warehouse.<br>Your refund will be applied to your original method of payment and will show on your next statement, depending on the issuing bank and/or billing cycle.
				p PEdALED garments are made from natural materials, therefore color and appearance may vary slightly. We do not accept these slight natural variations as return claims.
		#payment.payment2.col-xs-12.col-md-6.box
			.title Returns & Exchange Policy
			.text
				p Your credit card will be charged in Euro, as the shipping occours from Brooks England srl in Italy.
				p Payments of online orders will be processed through Paypal and Authorize.Net, a secure online payment gateway. We suggest that you print out a copy of your online order, as it contains useful information you may need in case of communication with BROOKS ENGLAND srl.
				p Your credit card will be charged only once your purchase has been shipped.
		#personal.personal.col-xs-12.col-md-6.box
			.title Personal Information & Privacy
			.text 
				p By submitting the above information, you agree to let BROOKS ENGLAND srl store your data and to use the information for statistical analysis and occasional promotional mailings in respect of privacy laws applicable in Italy and in the UK, where the website is hosted.
				p Your details will not be shared with any party, other than BROOKS ENGLAND srl, and its parent companies Brooks England LTS and Selle Royal S.p.A. Your credit card information will only be used to process the order and will not be stored.
		//- .sale.col-xs-12.col-md-6.box
			.title Sale Items
