#home-page
	#home-carousel(slider,slides="slides",items="2",_height="500")
	#home-content
		.row(ng-class="{'multiple-box': row.items.length>1}", ng-repeat="row in homeContent | orderBy:'position'",ng-style="{height:row.height[viewPort]}")
			.box-container(ng-repeat="box in row.items",class="col-xs-{{box.sizeXS}} col-md-{{box.sizeMD}} {{box.type}}")
				a.box.box-image-center(ng-href="{{box.link}}",style="background-image:url('{{box.background}}')",ng-class="{'image-box':!!box.background}")
					.box-content(ng-bind-html="box.content",ng-class="{'vertical-align':row.hasImages}")
		.row
		.newsletter-bottom-bar.desktop
			.newsletter-bottom-bar-content
				form(ng-submit="newsletterSubscribe()")
					span {{newsletter.label}}
					input(type="text",placeholder="Sign up to get the latest news and product releases...",ng-model="newsletter.email")
					button.btn(ng-if="!newsletter.loading", type="submit") OK
					button.btn(ng-if="newsletter.loading", disabled, type="submit") Subscribing
					span.validation-error {{newsletter.alertMessage}}
		.newsletter-bottom-bar.mobile
			.newsletter-bottom-bar-content
				form(ng-show="!newsletter.mobileLabel", ng-submit="newsletterSubscribe(newsletterSubscribe())")
					input(type="text",placeholder="Sign up to get the latest news and product releases...",ng-model="newsletter.email")
					//- input(type="text",placeholder="Join the newsletter",ng-model="newsletter.email")
					button.btn(ng-if="!newsletter.loading", type="submit") OK
					button.btn(ng-if="newsletter.loading", disabled, type="submit") OK
				span(ng-show="newsletter.label") {{newsletter.mobileLabel}}

