#instagram-page
	.black-bar.center
		span.title #dressliveride
	.photos-list.row
		.photo.col-xs-6.col-md-3(ng-repeat="photo in photos.slice().reverse()",ng-click="activePhoto.image_id=photo.image_id")
			img(ng-src="{{photo.low_resolution_url}}")
			.description(ng-class="{'active':activePhoto.image_id==photo.image_id}")
				div(ng-bind-html="photo.caption_text")