#storefinder-page
	//- .black-bar.center
		span.title STORE FINDER
	.row.content
		.box.col-xs-12.col-md-6.searchbox
			.description You can find the PEdAL ED Collection in our Exclusive Stocklist. Search for the closer shop here
			input(type="text",ng-model="filter",placeholder="Country, City, State, Zip...")
			.search-results.row
				.shop.col-xs-12(ng-repeat="shop in shops | filter:filter")
					.col-xs-1.image-container
						img(src="/content/images/storefinder/icon.png")
					.store-description.col-xs-10
						.name {{shop.name}}
						.address {{shop.address}}
						.city {{shop.city}}
			.footer Are you a PEDaL ED Dealer? Add your details here.
		.col-xs-12.col-md-6.gmap
			ui-gmap-google-map(center='map.center',zoom='map.zoom')
				ui-gmap-markers(models="shopsFilter",coords="'self'",icon="'icon'")
		.col-xs-12.col-md-6.address-box
			.box-content
				p
					span.red.strong Jowan Bicycles
					span.strong Buissestraat 34
					span.strong 9690 Kluisber
				p
					a(target="blank_",href="http://www.jowan.be")
						span.strong http://www.jowan.be
				p
					span you can find here*:
				p
					span Kaido Jersey
					span Arm Warmers
					span Raku Bibshort
					span Adventure Jacket
					span Winter Hat
					span Hacking Jacket
				.footer *please call or write the store to be 100% sure of the collection available
		.col-xs-12.col-md-6.image-box(ng-style="{'background-image':'url(\"/content/images/storefinder/1.jpg\")'}")
			img(src="/content/images/storefinder/1.jpg")

