#stories-page
	.cover-image(ng-style="{'background-image':'url(\"/content/images_api/stories/header-stories.jpg\")'}")
		img(src="/content/images_api/stories/header-stories.jpg")
		.cover-title.vertical-align
			| "Our Stories to dress, live and ride"
	.stories-list.row
		.col-md-4.story.col-xs-12(ng-repeat="story in stories", ng-class="{'alone': ($last && (stories.length-1) % 3 == 0)}")
			a(ng-href="/#!/stories/{{story.id}}")
				.story-image(ng-attr-style="background-image: url('{{story.image}}')")
			.story-text
				.title {{story.title}}
				.separator
				.description {{story.description}}
				a.read-more(href="/#!/stories/{{story.id}}") Read More

