#story-page
	.cover-image(ng-if="story.topImage", ng-style="{'background-image':'url(\"{{story.topImage}}\")'}")
		img(ng-src="{{story.topImage}}")
	.story-content
		.title {{story.title}}
		.authors(ng-bind-html="story.authors")
		.text(compile-html="story.textSafe")
		.row
			.social-share
				span Share
				.social-icons.row
					div.col-xs-fraction-5
						a(ng-if="story.shareUrl", ng-click="openShareLink('https://www.facebook.com/sharer/sharer.php?u='+story.shareUrl)")
							i.icon-icon_facebook_full
					div.col-xs-fraction-5
						a(ng-if="story.shareUrl", ng-click="openShareLink('https://twitter.com/home?status='+story.shareUrl)")
							i.icon-icon_twitter_full
					div.col-xs-fraction-5
						a(ng-if="story.shareUrl", ng-click="openShareLink('http://www.tumblr.com/share/link?url='+story.shareUrl)")
							i.icon-icon_tumbler_full
					div.col-xs-fraction-5
						a(ng-if="story.shareUrl", ng-click="openShareLink('https://pinterest.com/pin/create/button/?url='+story.shareUrl+'&media='+story.shareImage+'&description='+story.shareTitle)")
							i.icon-icon_pinterest_full
					div.col-xs-fraction-5
						a(ng-if="story.shareUrl", ng-click="openShareLink('https://plus.google.com/share?url='+story.shareUrl)")
							i.icon-icon_googleplus_full
				.separator
