#work-page
	.black-bar.center
		span.title Work at PEdAL ED
	.row.content
		.work-text.col-xs-12.col-md-6.box
			.title Work with us
			.text
				p As a result of exceptional sales growth in the last 12 months, PEdAL ED is looking to hire enthusiastic cycling lovers.
				p If you live and ride as we do, you'll probably want to join us.
			.footer Address: Via V.Emanuele 119.<br>36050 Pozzoleone, VI, Italy +39 0444 462025
		.work-form.col-xs-12.col-md-6
			span.required *required Fields
			form
				.form-group
					label.col-xs-3 e-mail*
					input.col-xs-9.form-control(type="email") 
				.form-group
					label.col-xs-3 Name*
					input.col-xs-9.form-control(type="text") 
				.form-group
					label.col-xs-3 Last Name*
					input.col-xs-9.form-control(type="text") 
				.form-group.row
					label.col-xs-3 Phone*
					input.col-xs-9.form-control(type="text") 
				hr
				.form-group.row
					label.col-xs-3 Subject*
					select.form-control.col-xs-9
						option(value="Shipping") Shipping 
						option(value="Return") Return 
				.form-group.row
					label.col-xs-3 Message*
					textarea.col-xs-9(rows="4")
				.form-group.cv.row
					label.col-xs-3 your CV
					.col-xs-9
						button.btn.btn-default Choose a file to upload
						span word,pdf or notes
				hr
				.form-group.subscribe.col-xs-9.col-xs-offset-3
					.title Subscribe to Newsletter
					input(type="checkbox")
					span Subscribe to PEdAL ED Newsletter. I accept the Subscription Terms.




