#checkout-menu(ng-include="'pages/checkout/menu.html'", ng-controller="CheckoutMenu")

#billing-page
	.billingForm.col-md-6
		h3 Insert your billing information
		form(ng-submit="formSubmit()", no-validate)
			fieldset
				label First Name
				input(type="text", ng-model="billing_address.firstname")
			fieldset
				label Last Name
				input(type="text", ng-model="billing_address.lastname")
			fieldset
				label Company
				input(type="text", ng-model="billing_address.company")
			fieldset
				label Email Address
				input(type="text", ng-model="billing_address.email")
			fieldset
				label Address
				input(type="text", ng-model="billing_address.street")
			fieldset
				label City
				input(type="text", ng-model="billing_address.city")
			fieldset
				label Country
				select(ng-options="country.country_id as country.name for country in countryCodes", ng-model="billing_address.country_id", ng-change="getRegions()")
			fieldset(ng-show="regions")
				label Region
				select(ng-options="region.id as region.name for region in regions", ng-model="cartService.billing_address.region_id")
			fieldset.required
				label {{labelFiscalCode}} 
				//- h4 {{billing_address.country_id}
				input(type="text", ng-model="billing_address.vat_id")
				label.required(ng-show="billing_address.country_id=='IT'") * required
			fieldset
				label ZIP/Postal Code
				input(type="text", ng-model="billing_address.postcode")
			fieldset
				label Telephone
				input(type="text", ng-model="billing_address.telephone")
			fieldset(ng-show="register")
				label Password
				input(type="password", ng-model="billing_address.password")
			fieldset(ng-show="register")
				label Confirm Password
				input(type="password", ng-model="billing_address.confirmPassword")
			fieldset
				label(for="use-billing") Ship to this address
				input#use-billing(type="checkbox", ng-model="useBillingForShipping")
			fieldset(ng-show="register")
				label(for="newsletter-subscribe") Subscribe to the newsletter
				input#newsletter-subscribe(type="checkbox", ng-model="newsletterSubscribe")
			span.validation-error {{validationError}}
			button.btn.proceed(type="submit") Proceed
	.default-billing.col-md-6(ng-show="isAuthenticated() && cartService.default_billing_address")
		h3 if you already shop here
		.default-billing-content(ng-show="cartService.default_billing_address")
			li.name {{cartService.default_billing_address.firstname}} {{cartService.default_billing_address.lastname}}
			li {{cartService.default_billing_address.company}}
			li {{cartService.default_billing_address.street}}
			li {{cartService.default_billing_address.city}} {{cartService.default_billing_address.postcode}}
			li {{cartService.default_billing_address.country_id}}
			li T: {{cartService.default_billing_address.telephone}}
		button.btn(type="submit", ng-click="formSubmit(true)") Use default billing address
	.row		
	.full-page-loader(ng-class="{'active': loading}")
		i.icon-spin4.animate-spin

