#checkout-menu(ng-include="'pages/checkout/menu.html'", ng-controller="CheckoutMenu")
#cart-page
	.table-title.col-md-12 YOUR BASKET
	.empty-cart(ng-show="!cartService.items.length")
		.empty-cart-container
			span Your cart is empty
		.actions.empty-cart(ng-show="!cartService.items.length")
			.button
				button(ng-click="changePage('/#!/products')", type="") Continue shopping
	.cart-table.col-md-12(ng-show="cartService.items.length")
		.cells-description
			.title-list
				.cell
				.cell Item
				.cell Size
				.cell Color
				.cell Item Price
				.cell Quantity
				.cell Item Total
		.loader-container.row.col-md-12(ng-class="{'active':!cartService.itemsPopulated, 'inactive':cartService.itemsPopulated}")
			.loader
				i.icon-spin4.animate-spin
		.products-list.row(ng-class="{'active':cartService.itemsPopulated}") 
			.product(ng-repeat="item in cartService.items", ng-if="cartService.itemsPopulated")
				.photo.cell(ng-attr-style="background-image:url('{{item.parentObj.gallery[0]}}');")
				.name.cell
					.cell-content {{item.parentObj.name}}
				.size.available.cell
					.cell-content {{item.productObj.size.label}}
				.color.cell
					.cell-content.color(ng-attr-style="background-color: {{item.productObj.color.label}}")
				.price.cell
					.cell-content
						span {{item.productObj.price}} 
						span.price(ng-bind-html="cartService.defaultCurrency.symbol")
				.cell.separator
				.quantity.cell
					.cell-content
						.quantity-picker
							input.quantity-action(type="submit", value="-", ng-click="decQuantity(item)")
							input.number(type="number", min="0", ng-model="item.quantity", ng-change="quantityChanged(item)") 
							input.quantity-action(type="submit",value="+", ng-click="incQuantity(item)")
							//- span.number-static {{item.quantity}}
						i.icon-trash(ng-click="removeItem(item.itemId)")
				.subtotal.cell
					.cell-content
						span.subtotal-value {{item.quantity*item.price}}
						span.price(ng-bind-html="cartService.defaultCurrency.symbol")
				.cell.separator
		.coupon.row
			.text Redeem a gift voucher or enter a discount code
			input.number(type="number",ng-model="item.quantity", placeholder="YOUR CODE HERE...")
			button(ng-click="", type="") APPLY
		.total-recap.row
			.text For all questions about orders or general enquiries please contact:+39 0444 461225
			.subtotals
				.subtotal
					span.name Sub-total 
					.value
						value {{totals.subtotal.value}}
						value(ng-bind-html="cartService.defaultCurrency.symbol")
				.discount
					span.name Discount applied
					span.value 0,00 &euro;
		.total-table
			.total-table-content
				.total-price
					span.label Total:
					span.value {{totals.grand_total.value}}
					span.value(ng-bind-html="cartService.defaultCurrency.symbol")
		.actions(ng-show="cartService.items.length")   
			.button
				button(ng-click="changePage('/#!/products')", type="") Continue shopping
			.button
				button(ng-click="openNextPage()", type="submit") Proceed to Checkout		
	.row
	.full-page-loader(ng-class="{'active': loading}")
		i.icon-spin4.animate-spin

