#checkout-complete-page(adapt-to-window)
	h1 Dōmo arigatō
	span Your order has been received.
	span You will receive an order confirmation email with details with your order and a link to track its progress.
	img(src="content/images/japan_img.png")
