#checkout-page
	#checkout-menu
		#checkout-menu-content
			li(ng-hide="page.skipIfLogged && security.isAuthenticated()", ng-repeat="page in pages", ng-click="changePage(page)", ng-class="{'active': isPageActive(page.url)}") {{page.name}}
			//- li(ng-click="changePage('/#!/checkout/cart')", ng-class="{'active': isPageActive('/checkout/cart')}") Shopping Cart
			//- li(ng-show="!security.isAuthenticated()", ng-click="changePage('/#!/checkout/signin')", ng-class="{'active': isPageActive('/checkout/signin')}") Sign in
			//- li(ng-click="changePage('/#!/checkout/billing')", ng-class="{'active': isPageActive('/checkout/billing')}") Billing
			//- li(ng-click="changePage('/#!/checkout/shipping')", ng-class="{'active': isPageActive('/checkout/shipping')}") Shipping
			//- li(ng-click="changePage('/#!/checkout/review')", ng-class="{'active': isPageActive('/checkout/review')}") Review
