#checkout-paypal-callback(adapt-to-window)
	.loading(ng-show="loading")
		//- h1 Dōmo arigatō
		//- span Your order has been received.
		//- span You will receive an order confirmation email with details with your order and a link to track its progress.
		img.loader(src="/content/images/spinner_pedaled.gif")
	.error(ng-show="!loading && errorMessage")
		.error-content
			h4.error-message {{errorMessage}}
			button(ng-click="changePage('/#!/products')", type="") Continue shopping
