#checkout-menu(ng-include="'pages/checkout/menu.html'", ng-controller="CheckoutMenu")

#cart-page.review
	.table-title.col-md-12 PAYMENT
	.cart-table.col-md-12
		.cells-description
			.title-list
				.cell Item
				.cell Size
				.cell Color
				.cell Item Price
				.cell Quantity
				.cell Item Total

		.loader-container.row.col-md-12(ng-if="!items.length", class="active")
			.loader
				i.icon-spin4.animate-spin
		.products-list.row(ng-class="{'active':items.length}") 
			.product(ng-repeat="item in items")
				.photo.cell(ng-attr-style="background-image:url('{{item.parentObj.gallery[0]}}');")
				.name.cell
					.cell-content {{item.parentObj.name}}
				.size.available.cell
					.cell-content {{item.productObj.size.label}}
				.color.cell
					.cell-content {{item.productObj.color.admin_label}}
					//- .cell-content.color(ng-attr-style="background-color: {{item.productObj.color.label}}")
				.quantity-mobile.cell
					span.number-static Quantity: {{item.quantity}}
				.price.cell
					.cell-content
						span {{item.productObj.price}} 
						span.price(ng-bind-html="cartService.defaultCurrency.symbol")
				.quantity.cell
					.cell-content
						.quantity-picker
							//- input.quantity-action(type="submit", value="-", ng-click="decQuantity(item)")
							//- input.number(type="number",ng-model="item.quantity", ng-change="quantityChanged(item)") 
							//- input.quantity-action(type="submit",value="+", ng-click="incQuantity(item)")
							span.number-static {{item.quantity}}
						//- i.icon-trash(ng-click="cartService.removeItem(item.itemId)")
				.subtotal.cell
					.cell-content
						span.subtotal-value {{item.quantity*item.price}}
						span.price(ng-bind-html="cartService.defaultCurrency.symbol")

		.total-table
			.total-table-content
				.total-subtotal
					span.label Subtotal:
					.value
						span {{cartService.totals.subtotal.value}}
						span(ng-bind-html="cartService.defaultCurrency.symbol")
				.total-shipping
					span.label Shipping:
					.value
						span {{cartService.totals.shipping.value}}
						span(ng-bind-html="cartService.defaultCurrency.symbol")
				.total-grandtotal
					span.label Grand Total:
					.value
						span {{cartService.totals.grand_total.value}}
						span(ng-bind-html="cartService.defaultCurrency.symbol")
		.payment-actions.row
			.col-md-6
				.info-review.row
					.info-container.col-sm-6
						.billing-info
							.title
								h4 Billing Address
								a(href="/#!/checkout/billing") Change
							li {{billing_address.firstname}} {{billing_address.lastname}}
							li {{billing_address.company}}
							li {{billing_address.street}}
							li {{billing_address.city}} {{billing_address.postcode}}
							li {{billing_address.country_id}}
							li T: {{billing_address.telephone}}
					.info-container.col-sm-6
						.billing-info
							.title
								h4 Shipping Address
								a(href="/#!/checkout/shipping") Change
							li {{shipping_address.firstname}} {{shipping_address.lastname}}
							li {{shipping_address.company}}
							li {{shipping_address.street}}
							li {{shipping_address.city}} {{shipping_address.postcode}}
							li {{shipping_address.country_id}}
							li T: {{shipping_address.telephone}}
			.billingForm-container.col-md-6
				.billingForm
					h3 Payment Information

					.payments-icons
						a.paypal-button(ng-click="paypalOrder()")
							img(src="/content/images/paypal_button.png")
						.or-separator or
						img.credit-card(src="/content/images/credit_cards_button.png")
					form.cc-info(ng-submit="proceed()")
						.credit-card
							fieldset.name
								label Name on card
								input.single(type="text", ng-model="cartService.payment.cc_owner")
							fieldset.type
								label Credit card type
								select.single(ng-options="type.id as type.name for type in cartService.creditCardTypes", ng-model="cartService.payment.cc_type")
							fieldset.number
								label Credit card number
								input.single(type="text", ng-model="cartService.payment.cc_number")
							fieldset.expiration
								label Expiration Date
								input.month.half(type="text", placeholder="mm", ng-model="cartService.payment.cc_exp_month")
								input.year.half(type="text", placeholder="yyyy", ng-model="cartService.payment.cc_exp_year")
							fieldset.code
								label Card Verification Number
								input.single(type="text",ng-show="cartService.payment.cc_type!='AE'", ng-model="cartService.payment.cc_cid", maxlength="3")
								input.single(type="text",ng-show="cartService.payment.cc_type=='AE'", ng-model="cartService.payment.cc_cid", maxlength="4")
		.place-order.row
			button.btn(ng-click="sendOrder()") place order
			span.validation-error {{sendError}}

		.row
	.row
	.full-page-loader(ng-class="{'active': loading}")
		i.icon-spin4.animate-spin
