#checkout-menu(ng-include="'pages/checkout/menu.html'", ng-controller="CheckoutMenu")

#billing-page
	.billingForm.col-md-6
		h3 Insert your shipping information
		form(ng-submit="formSubmit()", no-validate)
			fieldset
				label First Name
				input(type="text", ng-model="cartService.shipping_address.firstname")
			fieldset
				label Last Name
				input(type="text", ng-model="cartService.shipping_address.lastname")
			fieldset
				label Company
				input(type="text", ng-model="cartService.shipping_address.company")
			fieldset
				label Email Address
				input(type="text", ng-model="cartService.shipping_address.email")
			fieldset
				label Address
				input(type="text", ng-model="cartService.shipping_address.street")
			fieldset
				label City
				input(type="text", ng-model="cartService.shipping_address.city")
			fieldset
				label Country
				select(ng-options="country.country_id as country.name for country in countryCodes", ng-model="cartService.shipping_address.country_id", ng-change="getRegions()")
			fieldset(ng-show="regions || (cartService.shipping_address.region_id && cartService.shipping_address.region")
				label Region
				select(ng-options="region.id as region.name for region in regions", ng-model="cartService.shipping_address.region_id")
			fieldset
				label ZIP/Postal Code
				input(type="text", ng-model="cartService.shipping_address.postcode")
			fieldset
				label Telephone
				input(type="text", ng-model="cartService.shipping_address.telephone")
			button.btn.proceed(type="submit") Save
			span.validation-error {{validationError}}
	.default-billing.col-md-6(ng-show="isAuthenticated() && cartService.default_shipping_address")
		h3 if you already shop here
		.default-billing-content(ng-show="cartService.shipping_address")
			li.name {{cartService.default_shipping_address.firstname}} {{cartService.default_shipping_address.lastname}}
			li {{cartService.default_shipping_address.company}}
			li {{cartService.default_shipping_address.street}}
			li {{cartService.default_shipping_address.city}} {{cartService.default_shipping_address.postcode}}
			li {{cartService.default_shipping_address.country_id}}
			li T: {{cartService.default_shipping_address.telephone}}
		button.btn(type="submit", ng-click="formSubmit(true)") Use default shipping address
	.row
	.full-page-loader(ng-class="{'active': loading}")
		i.icon-spin4.animate-spin
	