#checkout-menu(ng-include="'pages/checkout/menu.html'", ng-controller="CheckoutMenu")
#signin-page-container
	#signin-page
		#guest-register.col-md-6
			h3 Checkout as a guest or register
			button.btn(ng-click="proceed('guest')") Checkout as Guest
			button.btn(ng-click="proceed('register')") Register and Checkout
			//- fieldset.col-md-12
			//- fieldset.col-md-12
			label.guest-error {{guestError}}
		
		#login-box.col-md-6
			h3 Returning customer
			form(ng-show="!security.isAuthenticated()" ng-submit="proceed('login')")
				input.email(ng-model="loginParams.email", type="text",placeholder="email")
				input.password(ng-model="loginParams.password", type="password",placeholder="password")
				button.btn(type="submit") Login
				label.login-error {{loginError}}
			.logged-in(ng-show="security.isAuthenticated()")
				span Logged in is as {{security.user.email}}
				button.btn(ng-click="proceed('logged')") Proceed
		.row
	.full-page-loader(ng-class="{'active': loading}")
		i.icon-spin4.animate-spin
