<span class="close">&times;</span>
<h2> Privacy & Cookie Policy</h2>
<ul>
  <li>Pedaled.com collects some Personal Data from its Users.</li>
  <li>Data Controller and Owner</li>
  <li>Brooks England S.r.l</li>
  <li>Via Vittorio Emanuele, 119 – 36050 Pozzoleone (Vicenza),</li>
  <li>P.I. IT03766100246</li>
  <li>privacy@pedaled.com</li>
</ul>
<h2>Types of Data collected</h2>
<p>The notice also takes full account of Recommendation 2/2001 of the European personal data protection authorities of 17 May 2001. These authorities formed the Group instituted by means of art. 29 of Directive 95/46/CE. The Group's purpose in making their recommendation is to lay down minimum requisites for online collection of personal data. This consists in establishing the methods and time schedules the data processor must conform to, and the types of information data processors must provide to users accessing web pages, irrespectively of the reasons for accessing.</p>
<p>Among the types of Personal Data that Pedaled.com collects, by itself or through third parties, there are: Cookie, Usage data, Email address, First Name, Last Name and Country.</p>
<p>Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.</p>
<p>The Personal Data may be freely provided by the User, or collected automatically when using Brooksengland.com.</p>
<p>Any use of Cookies - or of other tracking tools - by Pedaled.com or by the owners of third party services used by Pedaled.com, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.</p>
<p>Failure to provide certain Personal Data may make it impossible for Pedaled.com to provide its services.</p>
<p>Users are responsible for any Personal Data of third parties obtained, published or shared through Pedaled.com and confirm that they have the third party's consent to provide the Data to the Owner.</p>
<h2>Mode and place of processing the Data</h2>
<h3>Methods of processing</h3>
<p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>
<p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>
<h3>Place</h3>
<p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
<h3>Retention time</h3>
<p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
<h3>The use of the collected Data</h3>
<p>The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Analytics, Interaction with external social networks and platforms, Handling payments, Contacting the User, Advertising, Hosting and backend infrastructure, Remarketing and Behavioral Targeting and Managing contacts and sending messages.</p>
<p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
<h3>Advertising</h3>
<p>These services allow User Data to be utilized for advertising communication purposes displayed in the form of banners and other advertisements on Pedaled.com, possibly based on User interests.</p>
<p>This does not mean that all Personal Data are used for this purpose. Information and conditions of use are shown below.</p>
<p>Some of the services listed below may use Cookies to identify Users or they may use the behavioral retargeting technique, i.e. displaying ads tailored to the User’s interests and behavior, including those detected outside Pedaled.com. For more information, please check the privacy policies of the relevant services.</p>
<h3>Direct Email Marketing (DEM) (Pedaled.com)</h3>
<p>Pedaled.com uses the User Data to propose services and products provided by third parties or unrelated to the product or service provided by Pedaled.com.</p>
<p>Personal Data collected: Email address.</p>
<h3>Analytics</h3>
<p>The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.</p>
<h3>Google Analytics (Google Inc.)</h3>
<p>Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of Pedaled.com, to prepare reports on its activities and share them with other Google services.</p>
<p>Google may use the Data collected to contextualize and personalize the ads of its own advertising network.</p>
<p>Personal Data collected: Cookie and Usage data.</p>
<p>Place of processing : USA</p>
<h2>Contacting the User</h2>
<h3>Mailing List or Newsletter (Pedaled.com)</h3>
<p>By registering on the mailing list or for the newsletter, the User’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning Pedaled.com. Your email address might also be added to this list as a result of signing up to Brooksengland.com or after making a purchase.</p>
<p>Personal Data collected: Email address, First Name and Last Name.</p>
<h3>Contact form (Pedaled.com)</h3>
<p>By filling in the contact form with their Data, the User authorizes Pedaled.com to use these details to reply to requests for information, quotes or any other kind of request as indicated by the form’s header.</p>
<p>Personal Data collected: Country, Email address, First Name, Last Name and Various types of Data as specified in the privacy policy of the service.</p>
<h3>Handling payments</h3>
<p>Payment processing services enable Pedaled.com to process payments by credit card, bank transfer or other means. To ensure greater security, Pedaled.com shares only the information necessary to execute the transaction with the financial intermediaries handling the transaction.</p>
<p>Some of these services may also enable the sending of timed messages to the User, such as emails containing invoices or notifications concerning the payment.</p>
<h3>Hosting and backend infrastructure</h3>
<p>These services have the purpose of hosting data and files that enable Pedaled.com to run and be distributed as well as to provide a ready-made infrastructure to run specific features or parts of Brooksengland.com. Some of these services work through geographically distributed servers, making it difficult to determine the actual location where the Personal Data are stored.</p>
<h3>Amazon Web Services (Amazon)</h3>
<p>Amazon Web Services is a hosting service provided by Amazon.com Inc.</p>
<p>Personal Data collected: Various types of Data as specified in the privacy policy of the service.</p>
<p>Place of processing : USA</p>
<h3>Interaction with external social networks and platforms</h3>
<p>These services allow interaction with social networks or other external platforms directly from the pages of Pedaled.com.</p>
<p>The interaction and information obtained by Pedaled.com are always subject to the User’s privacy settings for each social network. If a service enabling interaction with social networks is installed it may still collect traffic data for the pages where the service is installed, even when Users do not use it.</p>
<h3>Managing contacts and sending messages</h3>
<p>These services make it possible to manage a database of email contacts, phone contacts or any other contact information to communicate with the User.</p>
<p>These services may also collect data concerning the date and time when the message was viewed by the User, as well as when the User interacted with it, such as by clicking on links included in the message.</p>
<h3>Mailchimp (Mailchimp)</h3>
<p>Mailchimp is an email address management and message sending service provided by Mailchimp Inc.</p>
<p>Personal Data collected: Email address.</p>
<p>Place of processing : USA</p>
<h3>Remarketing and Behavioral Targeting</h3>
<p>These services allow Pedaled.com and its partners to inform, optimize and serve advertising based on past use of Pedaled.com by the User.</p>
<p>This activity is performed by tracking Usage Data and by using Cookies, information that is transferred to the partners that manage the remarketing and behavioral targeting activity.</p>
<h3>Remarketing through Google Analytics for Display Advertising (Google Inc.)</h3>
<p>Google Analytics for Display Advertising is a Remarketing and Behavioral Targeting service provided by Google Inc. that connects the tracking activity performed by Google Analytics and its Cookies with the Adwords advertising network and the Doubleclick Cookie.</p>
<p>Personal Data collected: Cookie and Usage data.</p>
<p>Place of processing : USA</p>
<h2>Further information about Personal Data</h2>
<h3>Data processed in response to an order</h3>
<p>Some data will additionally be used for processing the order, its realization and delivery. Among this data are: Name, Surname, Email, Address, Postal Code, State, County, City, Phone number, Tax Code.</p>
<h3>Selling goods and services online</h3>
<p>The Personal Data collected are used to provide the User with services or to sell goods, including payment and possible delivery.</p>
<p>The Personal Data collected to complete the payment may include the credit card, the bank account used for the transfer, or any other means of payment envisaged. The kind of Data collected by Brooksengland.com depends on the payment system used.</p>
<h2>Additional information about Data collection and processing</h2>
<h3>Legal action</h3>
<p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of Pedaled.com or the related services.</p>
<p>The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
<h3>Additional information about User's Personal Data</h3>
<p>In addition to the information contained in this privacy policy, Pedaled.com may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
<h3>System Logs and Maintenance</h3>
<p>For operation and maintenance purposes, Pedaled.com and any third party services may collect files that record interaction with Pedaled.com (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>
<h3>Information not contained in this policy</h3>
<p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
<h3>Information not contained in this policy</h3>
<p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
<h3>The rights of Users</h3>
<p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.</p>
<p>Pedaled.com does not support “Do Not Track” requests.</p>
<p>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
<h3>Changes to this privacy policy</h3>
<p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using Brooksengland.com and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>
<h3>Legal information</h3>
<p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.</p>
<p>This privacy policy relates solely to Pedaled.com.</p>
<p>Latest update: January 15, 2016</p>